In [15]:


import pandas as pd

In [17]:
import requests
URL = "https://www.worldometers.info/coronavirus/#countries"
page = requests.get(URL)
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content,"html.parser")
results = soup.find(id='main_table_countries_today')
content = results.find_all('td')

In [23]:
content

[<td style="text-align:left;">
 <nobr>North America</nobr>
 </td>,
 <td>820,749</td>,
 <td>+666</td>,
 <td>43,369</td>,
 <td>+32</td>,
 <td>86,885</td>,
 <td>690,495</td>,
 <td>14,651</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="North America" style="display:none;">North America</td>,
 <td style="text-align:left;">
 <nobr>Europe</nobr>
 </td>,
 <td>1,097,423</td>,
 <td>+8,167</td>,
 <td>102,454</td>,
 <td>+618</td>,
 <td>316,674</td>,
 <td>678,295</td>,
 <td>25,383</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="Europe" style="display:none;">Europe</td>,
 <td style="text-align:left;">
 <nobr>Asia</nobr>
 </td>,
 <td>386,077</td>,
 <td>+2,920</td>,
 <td>14,840</td>,
 <td>+54</td>,
 <td>181,254</td>,
 <td>189,983</td>,
 <td>6,403</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="Asia" style="display:none;">Asia</td>,
 <td style="text-align:left;">
 <nobr>South America</nobr>
 </td>,
 <td>82,310</td>,
 <td>+58</td>,
 <td>3,850</td>,
 <td>+1</td>,
 <td>36,339</td>,
 <td>42,121</td>,
 <td>7,533</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="South America" style="display:none;">South America</td>,
 <td style="text-align:left;">
 <nobr>Oceania</nobr>
 </td>,
 <td>8,157</td>,
 <td>+17</td>,
 <td>83</td>,
 <td></td>,
 <td>5,252</td>,
 <td>2,822</td>,
 <td>54</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>,
 <td style="text-align:left;">
 <nobr>Africa</nobr>
 </td>,
 <td>22,992</td>,
 <td>+26</td>,
 <td>1,128</td>,
 <td>+3</td>,
 <td>5,847</td>,
 <td>16,017</td>,
 <td>174</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="Africa" style="display:none;">Africa</td>,
 <td style="text-align:left;">
 <nobr></nobr>
 </td>,
 <td>721</td>,
 <td></td>,
 <td>15</td>,
 <td></td>,
 <td>644</td>,
 <td>62</td>,
 <td>7</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="" style="display:none;"></td>,
 <td style="text-align:left;">World</td>,
 <td>2,418,429</td>,
 <td>+11,854</td>,
 <td>165,739</td>,
 <td>+708</td>,
 <td>632,895</td>,
 <td>1,619,795</td>,
 <td>54,205</td>,
 <td>310</td>,
 <td>21.3</td>,
 <td></td>,
 <td></td>,
 <td data-continent="all" style="display:none">All</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>,
 <td style="font-weight: bold; text-align:right">764,265</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">40,565 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">71,012</td>,
 <td style="text-align:right;font-weight:bold;">652,688</td>,
 <td style="font-weight: bold; text-align:right">13,566</td>,
 <td style="font-weight: bold; text-align:right">2,309</td>,
 <td style="font-weight: bold; text-align:right">123</td>,
 <td style="font-weight: bold; text-align:right">3,861,596</td>,
 <td style="font-weight: bold; text-align:right">11,666</td>,
 <td data-continent="North America" style="display:none">North America</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>,
 <td style="font-weight: bold; text-align:right">200,210</td>,
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,536</td>,
 <td style="font-weight: bold; text-align:right;">20,852 </td>,
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+399</td>,
 <td style="font-weight: bold; text-align:right">80,587</td>,
 <td style="text-align:right;font-weight:bold;">98,771</td>,
 <td style="font-weight: bold; text-align:right">7,371</td>,
 <td style="font-weight: bold; text-align:right">4,282</td>,
 <td style="font-weight: bold; text-align:right">446</td>,
 <td style="font-weight: bold; text-align:right">930,230</td>,
 <td style="font-weight: bold; text-align:right">19,896</td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>,
 <td style="font-weight: bold; text-align:right">178,972</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">23,660 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">47,055</td>,
 <td style="text-align:right;font-weight:bold;">108,257</td>,
 <td style="font-weight: bold; text-align:right">2,635</td>,
 <td style="font-weight: bold; text-align:right">2,960</td>,
 <td style="font-weight: bold; text-align:right">391</td>,
 <td style="font-weight: bold; text-align:right">1,356,541</td>,
 <td style="font-weight: bold; text-align:right">22,436</td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>,
 <td style="font-weight: bold; text-align:right">152,894</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">19,718 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">36,578</td>,
 <td style="text-align:right;font-weight:bold;">96,598</td>,
 <td style="font-weight: bold; text-align:right">5,744</td>,
 <td style="font-weight: bold; text-align:right">2,342</td>,
 <td style="font-weight: bold; text-align:right">302</td>,
 <td style="font-weight: bold; text-align:right">463,662</td>,
 <td style="font-weight: bold; text-align:right">7,103</td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>,
 <td style="font-weight: bold; text-align:right">145,743</td>,
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1</td>,
 <td style="font-weight: bold; text-align:right;">4,642 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">91,500</td>,
 <td style="text-align:right;font-weight:bold;">49,601</td>,
 <td style="font-weight: bold; text-align:right">2,889</td>,
 <td style="font-weight: bold; text-align:right">1,740</td>,
 <td style="font-weight: bold; text-align:right">55</td>,
 <td style="font-weight: bold; text-align:right">1,728,357</td>,
 <td style="font-weight: bold; text-align:right">20,629</td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>,
 <td style="font-weight: bold; text-align:right">120,067</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">16,060 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">N/A</td>,
 <td style="text-align:right;font-weight:bold;">103,663</td>,
 <td style="font-weight: bold; text-align:right">1,559</td>,
 <td style="font-weight: bold; text-align:right">1,769</td>,
 <td style="font-weight: bold; text-align:right">237</td>,
 <td style="font-weight: bold; text-align:right">482,063</td>,
 <td style="font-weight: bold; text-align:right">7,101</td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>,
 <td style="font-weight: bold; text-align:right">86,306</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">2,017 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">11,976</td>,
 <td style="text-align:right;font-weight:bold;">72,313</td>,
 <td style="font-weight: bold; text-align:right">1,922</td>,
 <td style="font-weight: bold; text-align:right">1,023</td>,
 <td style="font-weight: bold; text-align:right">24</td>,
 <td style="font-weight: bold; text-align:right">634,277</td>,
 <td style="font-weight: bold; text-align:right">7,521</td>,
 <td data-continent="Asia" style="display:none">Asia</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/iran/">Iran</a></td>,
 <td style="font-weight: bold; text-align:right">82,211</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">5,118 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">57,023</td>,
 <td style="text-align:right;font-weight:bold;">20,070</td>,
 <td style="font-weight: bold; text-align:right">3,456</td>,
 <td style="font-weight: bold; text-align:right">979</td>,
 <td style="font-weight: bold; text-align:right">61</td>,
 <td style="font-weight: bold; text-align:right">341,662</td>,
 <td style="font-weight: bold; text-align:right">4,068</td>,
 <td data-continent="Asia" style="display:none">Asia</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>,
 <td style="font-weight: bold; text-align:right">47,121</td>,
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+4,268</td>,
 <td style="font-weight: bold; text-align:right;">405 </td>,
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+44</td>,
 <td style="font-weight: bold; text-align:right">3,446</td>,
 <td style="text-align:right;font-weight:bold;">43,270</td>,
 <td style="font-weight: bold; text-align:right">8</td>,
 <td style="font-weight: bold; text-align:right">323</td>,
 <td style="font-weight: bold; text-align:right">3</td>,
 <td style="font-weight: bold; text-align:right">2,050,000</td>,
 <td style="font-weight: bold; text-align:right">14,047</td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/belgium/">Belgium</a></td>,
 <td style="font-weight: bold; text-align:right">39,983</td>,
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,487</td>,
 <td style="font-weight: bold; text-align:right;">5,828 </td>,
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+145</td>,
 <td style="font-weight: bold; text-align:right">8,895</td>,
 <td style="text-align:right;font-weight:bold;">25,260</td>,
 <td style="font-weight: bold; text-align:right">1,071</td>,
 <td style="font-weight: bold; text-align:right">3,450</td>,
 <td style="font-weight: bold; text-align:right">503</td>,
 <td style="font-weight: bold; text-align:right">153,778</td>,
 <td style="font-weight: bold; text-align:right">13,269</td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>,
 <td style="font-weight: bold; text-align:right">38,654</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">2,462 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">22,130</td>,
 <td style="text-align:right;font-weight:bold;">14,062</td>,
 <td style="font-weight: bold; text-align:right">6,634</td>,
 <td style="font-weight: bold; text-align:right">182</td>,
 <td style="font-weight: bold; text-align:right">12</td>,
 <td style="font-weight: bold; text-align:right">62,985</td>,
 <td style="font-weight: bold; text-align:right">296</td>,
 <td data-continent="South America" style="display:none">South America</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/canada/">Canada</a></td>,
 <td style="font-weight: bold; text-align:right">35,056</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">1,587 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">11,843</td>,
 <td style="text-align:right;font-weight:bold;">21,626</td>,
 <td style="font-weight: bold; text-align:right">557</td>,
 <td style="font-weight: bold; text-align:right">929</td>,
 <td style="font-weight: bold; text-align:right">42</td>,
 <td style="font-weight: bold; text-align:right">549,349</td>,
 <td style="font-weight: bold; text-align:right">14,555</td>,
 <td data-continent="North America" style="display:none">North America</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/netherlands/">Netherlands</a></td>,
 <td style="font-weight: bold; text-align:right">32,655</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">3,684 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">250</td>,
 <td style="text-align:right;font-weight:bold;">28,721</td>,
 <td style="font-weight: bold; text-align:right">1,176</td>,
 <td style="font-weight: bold; text-align:right">1,906</td>,
 <td style="font-weight: bold; text-align:right">215</td>,
 <td style="font-weight: bold; text-align:right">154,911</td>,
 <td style="font-weight: bold; text-align:right">9,041</td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/switzerland/">Switzerland</a></td>,
 <td style="font-weight: bold; text-align:right">27,740</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">1,393 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">17,800</td>,
 <td style="text-align:right;font-weight:bold;">8,547</td>,
 <td style="font-weight: bold; text-align:right">386</td>,
 <td style="font-weight: bold; text-align:right">3,205</td>,
 <td style="font-weight: bold; text-align:right">161</td>,
 <td style="font-weight: bold; text-align:right">221,263</td>,
 <td style="font-weight: bold; text-align:right">25,566</td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/portugal/">Portugal</a></td>,
 <td style="font-weight: bold; text-align:right">20,206</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">714 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">610</td>,
 <td style="text-align:right;font-weight:bold;">18,882</td>,
 <td style="font-weight: bold; text-align:right">224</td>,
 <td style="font-weight: bold; text-align:right">1,982</td>,
 <td style="font-weight: bold; text-align:right">70</td>,
 <td style="font-weight: bold; text-align:right">235,878</td>,
 <td style="font-weight: bold; text-align:right">23,133</td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>,
 <td style="font-weight: bold; text-align:right">17,615</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">559 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">2,854</td>,
 <td style="text-align:right;font-weight:bold;">14,202</td>,
 <td style="font-weight: bold; text-align:right"></td>,
 <td style="font-weight: bold; text-align:right">13</td>,
 <td style="font-weight: bold; text-align:right">0.4</td>,
 <td style="font-weight: bold; text-align:right">401,586</td>,
 <td style="font-weight: bold; text-align:right">291</td>,
 <td data-continent="Asia" style="display:none">Asia</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/peru/">Peru</a></td>,
 <td style="font-weight: bold; text-align:right">15,628</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">400 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">6,811</td>,
 <td style="text-align:right;font-weight:bold;">8,417</td>,
 <td style="font-weight: bold; text-align:right">167</td>,
 <td style="font-weight: bold; text-align:right">474</td>,
 <td style="font-weight: bold; text-align:right">12</td>,
 <td style="font-weight: bold; text-align:right">143,745</td>,
 <td style="font-weight: bold; text-align:right">4,360</td>,
 <td data-continent="South America" style="display:none">South America</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/ireland/">Ireland</a></td>,
 <td style="font-weight: bold; text-align:right">15,251</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">610 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">77</td>,
 <td style="text-align:right;font-weight:bold;">14,564</td>,
 <td style="font-weight: bold; text-align:right">294</td>,
 <td style="font-weight: bold; text-align:right">3,089</td>,
 <td style="font-weight: bold; text-align:right">124</td>,
 <td style="font-weight: bold; text-align:right">90,646</td>,
 <td style="font-weight: bold; text-align:right">18,358</td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/austria/">Austria</a></td>,
 <td style="font-weight: bold; text-align:right">14,749</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">452 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">10,501</td>,
 <td style="text-align:right;font-weight:bold;">3,796</td>,
 <td style="font-weight: bold; text-align:right">204</td>,
 <td style="font-weight: bold; text-align:right">1,638</td>,
 <td style="font-weight: bold; text-align:right">50</td>,
 <td style="font-weight: bold; text-align:right">179,243</td>,
 <td style="font-weight: bold; text-align:right">19,902</td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/sweden/">Sweden</a></td>,
 <td style="font-weight: bold; text-align:right">14,385</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">1,540 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">550</td>,
 <td style="text-align:right;font-weight:bold;">12,295</td>,

In [24]:
con = results.find_all("tr")

In [25]:
con

[<tr>
 <th width="100">Country,<br>Other</br></th>
 <th width="20">Total<br>Cases</br></th>
 <th width="30">New<br>Cases</br></th>
 <th width="30">Total<br>Deaths</br></th>
 <th width="30">New<br>Deaths</br></th>
 <th width="30">Total<br>Recovered</br></th>
 <th width="30">Active<br>Cases</br></th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">Tot Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Total<br/>Tests</th>
 <th width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>
 <th style="display:none" width="30">Continent</th>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="North America" style="display: none">
 <td style="text-align:left;">
 <nobr>North America</nobr>
 </td>
 <td>820,749</td>
 <td>+666</td>
 <td>43,369</td>
 <td>+32</td>
 <td>86,885</td>
 <td>690,495</td>
 <td>14,651</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="North America" style="display:none;">North America</td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
 <td style="text-align:left;">
 <nobr>Europe</nobr>
 </td>
 <td>1,097,423</td>
 <td>+8,167</td>
 <td>102,454</td>
 <td>+618</td>
 <td>316,674</td>
 <td>678,295</td>
 <td>25,383</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Europe" style="display:none;">Europe</td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
 <td style="text-align:left;">
 <nobr>Asia</nobr>
 </td>
 <td>386,077</td>
 <td>+2,920</td>
 <td>14,840</td>
 <td>+54</td>
 <td>181,254</td>
 <td>189,983</td>
 <td>6,403</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Asia" style="display:none;">Asia</td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="South America" style="display: none">
 <td style="text-align:left;">
 <nobr>South America</nobr>
 </td>
 <td>82,310</td>
 <td>+58</td>
 <td>3,850</td>
 <td>+1</td>
 <td>36,339</td>
 <td>42,121</td>
 <td>7,533</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="South America" style="display:none;">South America</td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
 <td style="text-align:left;">
 <nobr>Oceania</nobr>
 </td>
 <td>8,157</td>
 <td>+17</td>
 <td>83</td>
 <td></td>
 <td>5,252</td>
 <td>2,822</td>
 <td>54</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
 <td style="text-align:left;">
 <nobr>Africa</nobr>
 </td>
 <td>22,992</td>
 <td>+26</td>
 <td>1,128</td>
 <td>+3</td>
 <td>5,847</td>
 <td>16,017</td>
 <td>174</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Africa" style="display:none;">Africa</td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="" style="display: none">
 <td style="text-align:left;">
 <nobr></nobr>
 </td>
 <td>721</td>
 <td></td>
 <td>15</td>
 <td></td>
 <td>644</td>
 <td>62</td>
 <td>7</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="" style="display:none;"></td>
 </tr>,
 <tr class="total_row_world">
 <td style="text-align:left;">World</td>
 <td>2,418,429</td>
 <td>+11,854</td>
 <td>165,739</td>
 <td>+708</td>
 <td>632,895</td>
 <td>1,619,795</td>
 <td>54,205</td>
 <td>310</td>
 <td>21.3</td>
 <td></td>
 <td></td>
 <td data-continent="all" style="display:none">All</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
 <td style="font-weight: bold; text-align:right">764,265</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">40,565 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">71,012</td>
 <td style="text-align:right;font-weight:bold;">652,688</td>
 <td style="font-weight: bold; text-align:right">13,566</td>
 <td style="font-weight: bold; text-align:right">2,309</td>
 <td style="font-weight: bold; text-align:right">123</td>
 <td style="font-weight: bold; text-align:right">3,861,596</td>
 <td style="font-weight: bold; text-align:right">11,666</td>
 <td data-continent="North America" style="display:none">North America</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
 <td style="font-weight: bold; text-align:right">200,210</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,536</td>
 <td style="font-weight: bold; text-align:right;">20,852 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+399</td>
 <td style="font-weight: bold; text-align:right">80,587</td>
 <td style="text-align:right;font-weight:bold;">98,771</td>
 <td style="font-weight: bold; text-align:right">7,371</td>
 <td style="font-weight: bold; text-align:right">4,282</td>
 <td style="font-weight: bold; text-align:right">446</td>
 <td style="font-weight: bold; text-align:right">930,230</td>
 <td style="font-weight: bold; text-align:right">19,896</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
 <td style="font-weight: bold; text-align:right">178,972</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">23,660 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">47,055</td>
 <td style="text-align:right;font-weight:bold;">108,257</td>
 <td style="font-weight: bold; text-align:right">2,635</td>
 <td style="font-weight: bold; text-align:right">2,960</td>
 <td style="font-weight: bold; text-align:right">391</td>
 <td style="font-weight: bold; text-align:right">1,356,541</td>
 <td style="font-weight: bold; text-align:right">22,436</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
 <td style="font-weight: bold; text-align:right">152,894</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">19,718 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">36,578</td>
 <td style="text-align:right;font-weight:bold;">96,598</td>
 <td style="font-weight: bold; text-align:right">5,744</td>
 <td style="font-weight: bold; text-align:right">2,342</td>
 <td style="font-weight: bold; text-align:right">302</td>
 <td style="font-weight: bold; text-align:right">463,662</td>
 <td style="font-weight: bold; text-align:right">7,103</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
 <td style="font-weight: bold; text-align:right">145,743</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1</td>
 <td style="font-weight: bold; text-align:right;">4,642 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">91,500</td>
 <td style="text-align:right;font-weight:bold;">49,601</td>
 <td style="font-weight: bold; text-align:right">2,889</td>
 <td style="font-weight: bold; text-align:right">1,740</td>
 <td style="font-weight: bold; text-align:right">55</td>
 <td style="font-weight: bold; text-align:right">1,728,357</td>
 <td style="font-weight: bold; text-align:right">20,629</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
 <td style="font-weight: bold; text-align:right">120,067</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">16,060 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="text-align:right;font-weight:bold;">103,663</td>
 <td style="font-weight: bold; text-align:right">1,559</td>
 <td style="font-weight: bold; text-align:right">1,769</td>
 <td style="font-weight: bold; text-align:right">237</td>
 <td style="font-weight: bold; text-align:right">482,063</td>
 <td style="font-weight: bold; text-align:right">7,101</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
 <td style="font-weight: bold; text-align:right">86,306</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">2,017 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">11,976</td>
 <td style="text-align:right;font-weight:bold;">72,313</td>
 <td style="font-weight: bold; text-align:right">1,922</td>
 <td style="font-weight: bold; text-align:right">1,023</td>
 <td style="font-weight: bold; text-align:right">24</td>
 <td style="font-weight: bold; text-align:right">634,277</td>
 <td style="font-weight: bold; text-align:right">7,521</td>
 <td data-continent="Asia" style="display:none">Asia</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/iran/">Iran</a></td>
 <td style="font-weight: bold; text-align:right">82,211</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">5,118 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">57,023</td>
 <td style="text-align:right;font-weight:bold;">20,070</td>
 <td style="font-weight: bold; text-align:right">3,456</td>
 <td style="font-weight: bold; text-align:right">979</td>
 <td style="font-weight: bold; text-align:right">61</td>
 <td style="font-weight: bold; text-align:right">341,662</td>
 <td style="font-weight: bold; text-align:right">4,068</td>
 <td data-continent="Asia" style="display:none">Asia</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
 <td style="font-weight: bold; text-align:right">47,121</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+4,268</td>
 <td style="font-weight: bold; text-align:right;">405 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+44</td>
 <td style="font-weight: bold; text-align:right">3,446</td>
 <td style="text-align:right;font-weight:bold;">43,270</td>
 <td style="font-weight: bold; text-align:right">8</td>
 <td style="font-weight: bold; text-align:right">323</td>
 <td style="font-weight: bold; text-align:right">3</td>
 <td style="font-weight: bold; text-align:right">2,050,000</td>
 <td style="font-weight: bold; text-align:right">14,047</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/belgium/">Belgium</a></td>
 <td style="font-weight: bold; text-align:right">39,983</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,487</td>
 <td style="font-weight: bold; text-align:right;">5,828 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+145</td>
 <td style="font-weight: bold; text-align:right">8,895</td>
 <td style="text-align:right;font-weight:bold;">25,260</td>
 <td style="font-weight: bold; text-align:right">1,071</td>
 <td style="font-weight: bold; text-align:right">3,450</td>
 <td style="font-weight: bold; text-align:right">503</td>
 <td style="font-weight: bold; text-align:right">153,778</td>
 <td style="font-weight: bold; text-align:right">13,269</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
 <td style="font-weight: bold; text-align:right">38,654</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">2,462 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">22,130</td>
 <td style="text-align:right;font-weight:bold;">14,062</td>
 <td style="font-weight: bold; text-align:right">6,634</td>
 <td style="font-weight: bold; text-align:right">182</td>
 <td style="font-weight: bold; text-align:right">12</td>
 <td style="font-weight: bold; text-align:right">62,985</td>
 <td style="font-weight: bold; text-align:right">296</td>
 <td data-continent="South America" style="display:none">South America</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/canada/">Canada</a></td>
 <td style="font-weight: bold; text-align:right">35,056</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">1,587 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">11,843</td>
 <td style="text-align:right;font-weight:bold;">21,626</td>
 <td style="font-weight: bold; text-align:right">557</td>
 <td style="font-weight: bold; text-align:right">929</td>
 <td style="font-weight: bold; text-align:right">42</td>
 <td style="font-weight: bold; text-align:right">549,349</td>
 <td style="font-weight: bold; text-align:right">14,555</td>
 <td data-continent="North America" style="display:none">North America</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/netherlands/">Netherlands</a></td>
 <td style="font-weight: bold; text-align:right">32,655</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">3,684 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">250</td>
 <td style="text-align:right;font-weight:bold;">28,721</td>
 <td style="font-weight: bold; text-align:right">1,176</td>
 <td style="font-weight: bold; text-align:right">1,906</td>
 <td style="font-weight: bold; text-align:right">215</td>
 <td style="font-weight: bold; text-align:right">154,911</td>
 <td style="font-weight: bold; text-align:right">9,041</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/switzerland/">Switzerland</a></td>
 <td style="font-weight: bold; text-align:right">27,740</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">1,393 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">17,800</td>
 <td style="text-align:right;font-weight:bold;">8,547</td>
 <td style="font-weight: bold; text-align:right">386</td>
 <td style="font-weight: bold; text-align:right">3,205</td>
 <td style="font-weight: bold; text-align:right">161</td>
 <td style="font-weight: bold; text-align:right">221,263</td>
 <td style="font-weight: bold; text-align:right">25,566</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/portugal/">Portugal</a></td>
 <td style="font-weight: bold; text-align:right">20,206</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">714 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">610</td>
 <td style="text-align:right;font-weight:bold;">18,882</td>
 <td style="font-weight: bold; text-align:right">224</td>
 <td style="font-weight: bold; text-align:right">1,982</td>
 <td style="font-weight: bold; text-align:right">70</td>
 <td style="font-weight: bold; text-align:right">235,878</td>
 <td style="font-weight: bold; text-align:right">23,133</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
 <td style="font-weight: bold; text-align:right">17,615</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">559 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">2,854</td>
 <td style="text-align:right;font-weight:bold;">14,202</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">13</td>
 <td style="font-weight: bold; text-align:right">0.4</td>
 <td style="font-weight: bold; text-align:right">401,586</td>
 <td style="font-weight: bold; text-align:right">291</td>
 <td data-continent="Asia" style="display:none">Asia</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/peru/">Peru</a></td>
 <td style="font-weight: bold; text-align:right">15,628</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">400 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">6,811</td>
 <td style="text-align:right;font-weight:bold;">8,417</td>
 <td style="font-weight: bold; text-align:right">167</td>
 <td style="font-weight: bold; text-align:right">474</td>
 <td style="font-weight: bold; text-align:right">12</td>
 <td style="font-weight: bold; text-align:right">143,745</td>
 <td style="font-weight: bold; text-align:right">4,360</td>
 <td data-continent="South America" style="display:none">South America</td>
 </tr>,
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/ireland/">Ireland</a></td>
 <td style="font-weight: bold; text-align:right">15,251</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">610 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">77</td>
 <td style="text-align:right;font-weight:bold;">14,564</td>
 <td style="font-weight: bold; text-align:right">294</td>
 <td style="font-weight: bold; text-align:right">3,089</td>
 <td style="font-weight: bold; text-align:right">124</td>
 <td style="font-weight: bold; text-align:right">90,646</td>
 <td style="font-weight: bold; text-align:right">18,358</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr style="">

In [27]:
for td in con:
    print(td.text)

Country,Other
TotalCases
NewCases
TotalDeaths
NewDeaths
TotalRecovered
ActiveCases
Serious,Critical
Tot Cases/1M pop
Deaths/1M pop
TotalTests
Tests/
1M pop

Continent



North America

820,749
+666
43,369
+32
86,885
690,495
14,651




North America



Europe

1,097,423
+8,167
102,454
+618
316,674
678,295
25,383




Europe



Asia

386,077
+2,920
14,840
+54
181,254
189,983
6,403




Asia



South America

82,310
+58
3,850
+1
36,339
42,121
7,533




South America



Oceania

8,157
+17
83

5,252
2,822
54




Australia/Oceania



Africa

22,992
+26
1,128
+3
5,847
16,017
174




Africa





721

15

644
62
7







World
2,418,429
+11,854
165,739
+708
632,895
1,619,795
54,205
310
21.3


All


USA
764,265

40,565

71,012
652,688
13,566
2,309
123
3,861,596
11,666
North America


Spain
200,210
+1,536
20,852
+399
80,587
98,771
7,371
4,282
446
930,230
19,896
Europe


Italy
178,972

23,660

47,055
108,257
2,635
2,960
391
1,356,541
22,436
Europe


France
152,894

19,718

36,578
96,598
5,744
2,342
302
463,662
7,103
Europe


Germany
145,743
+1
4,642

91,500
49,601
2,889
1,740
55
1,728,357
20,629
Europe


UK
120,067

16,060

N/A
103,663
1,559
1,769
237
482,063
7,101
Europe


Turkey
86,306

2,017

11,976
72,313
1,922
1,023
24
634,277
7,521
Asia


Iran
82,211

5,118

57,023
20,070
3,456
979
61
341,662
4,068
Asia


Russia
47,121
+4,268
405
+44
3,446
43,270
8
323
3
2,050,000
14,047
Europe


Belgium
39,983
+1,487
5,828
+145
8,895
25,260
1,071
3,450
503
153,778
13,269
Europe


Brazil
38,654

2,462

22,130
14,062
6,634
182
12
62,985
296
South America


Canada
35,056

1,587

11,843
21,626
557
929
42
549,349
14,555
North America


Netherlands
32,655

3,684

250
28,721
1,176
1,906
215
154,911
9,041
Europe


Switzerland
27,740

1,393

17,800
8,547
386
3,205
161
221,263
25,566
Europe


Portugal
20,206

714

610
18,882
224
1,982
70
235,878
23,133
Europe


India
17,615

559

2,854
14,202

13
0.4
401,586
291
Asia


Peru
15,628

400

6,811
8,417
167
474
12
143,745
4,360
South America


Ireland
15,251

610

77
14,564
294
3,089
124
90,646
18,358
Europe


Austria
14,749

452

10,501
3,796
204
1,638
50
179,243
19,902
Europe


Sweden
14,385

1,540

550
12,295
450
1,424
152
74,600
7,387
Europe


Israel
13,654
+163
173
+1
3,872
9,609
150
1,577
20
187,250
21,634
Asia


Japan
10,797

236

1,159
9,402
217
85
2
112,816
892
Asia


S. Korea
10,674
+13
236
+2
8,114
2,324
55
208
5
563,035
10,982
Asia


Chile
10,088

133

4,338
5,617
360
528
7
113,649
5,945
South America


Ecuador
9,468

474

1,061
7,933
124
537
27
31,809
1,803
South America


Poland
9,453
+166
362
+2
1,133
7,958
160
250
10
204,246
5,397
Europe


Saudi Arabia
9,362

97

1,398
7,867
97
269
3
180,000
5,170
Asia


Romania
8,746

451

1,892
6,403
256
455
23
93,611
4,866
Europe


Pakistan
8,418
+70
176
+8
1,970
6,272
46
38
0.8
104,302
472
Asia


Mexico
8,261
+764
686
+36
2,627
4,948
207
64
5
49,570
384
North America


Singapore
8,014
+1,426
11

768
7,235
22
1,370
2
94,796
16,203
Asia


Denmark
7,515
+131
355

4,141
3,019
84
1,297
61
96,244
16,616
Europe


Norway
7,103
+25
165

32
6,906
58
1,310
30
142,166
26,224
Europe


Czechia
6,787
+41
188
+2
1,311
5,288
84
634
18
172,123
16,073
Europe


UAE
6,781

41

1,286
5,454
1
686
4
767,000
77,550
Asia


Indonesia
6,760
+185
590
+8
747
5,423

25
2
42,219
154
Asia


Australia
6,619
+7
71

4,258
2,290
49
260
3
431,734
16,931
Australia/Oceania


Philippines
6,459
+200
428
+19
613
5,418
1
59
4
59,928
547
Asia


Serbia
6,318

122

753
5,443
120
723
14
38,701
4,429
Europe


Ukraine
5,710
+261
151
+10
359
5,200
45
131
3
58,093
1,328
Europe


Qatar
5,448

8

518
4,922
37
1,891
3
62,538
21,707
Asia


Malaysia
5,389

89

3,197
2,103
46
167
3
103,892
3,210
Asia


Belarus
4,779

47

494
4,238
65
506
5
98,231
10,396
Europe


Dominican Republic
4,680

226

363
4,091
114
431
21
15,583
1,436
North America


Panama
4,467
+194
126
+6
165
4,176
98
1,035
29
19,091
4,425
North America


Finland
3,868
+85
94

1,700
2,074
68
698
17
58,727
10,599
Europe


Colombia
3,792

179

711
2,902
98
75
4
62,746
1,233
South America


Luxembourg
3,550

73

627
2,850
31
5,671
117
33,666
53,781
Europe


South Africa
3,158

54

903
2,201
36
53
0.9
114,711
1,934
Africa


Egypt
3,144

239

732
2,173

31
2
55,000
537
Africa


Bangladesh
2,948
+492
101
+10
85
2,762
1
18
0.6
26,604
162
Asia


Argentina
2,941

134

709
2,098
123
65
3
32,712
724
South America


Morocco
2,855

141

327
2,387
1
77
4
15,123
410
Africa


Thailand
2,792
+27
47

1,999
746
61
40
0.7
142,589
2,043
Asia


Algeria
2,629

375

1,047
1,207
40
60
9
6,500
148
Africa


Moldova
2,472

67

457
1,948
80
613
17
10,488
2,600
Europe


Greece
2,235

113

269
1,853
67
214
11
53,290
5,113
Europe


Hungary
1,984
+68
199
+10
267
1,518
60
205
21
48,057
4,975
Europe


Kuwait
1,915

7

305
1,603
38
448
2


Asia


Bahrain
1,881

7

762
1,112
2
1,105
4
86,732
50,972
Asia


Croatia
1,871

47

709
1,115
23
456
11
24,186
5,891
Europe


Iceland
1,771

9

1,291
471
3
5,190
26
41,091
120,416
Europe


Kazakhstan
1,757
+81
19
+2
417
1,321
22
94
1
117,949
6,282
Asia


Uzbekistan
1,565

5

225
1,335
8
47
0.1
136,000
4,063
Asia


Iraq
1,539

82

1,009
448

38
2
56,147
1,396
Asia


Estonia
1,535
+7
40

165
1,330
9
1,157
30
40,930
30,855
Europe


New Zealand
1,440
+9
12

974
454
3
299
2
86,305
17,897
Australia/Oceania


Oman
1,410
+144
7

238
1,165
3
276
1


Asia


Azerbaijan
1,398

19

712
667
21
138
2
95,747
9,443
Asia


Armenia
1,339
+48
22
+2
580
737
30
452
7
13,373
4,513
Asia


Slovenia
1,335
+5
77
+3
193
1,065
26
642
37
41,802
20,107
Europe


Lithuania
1,326
+28
37
+2
242
1,047
14
487
14
66,352
24,374
Europe


Bosnia and Herzegovina
1,285

48

347
890
4
392
15
17,818
5,431
Europe


North Macedonia
1,207

51

179
977
15
579
24
11,870
5,697
Europe


Slovakia
1,161

12

229
920
10
213
2
44,278
8,110
Europe


Ghana
1,042

9

99
934
4
34
0.3
68,591
2,207
Africa


Cuba
1,035

34

255
746
16
91
3
26,982
2,382
North America


Hong Kong
1,026

4

602
420
8
137
0.5
131,786
17,579
Asia


Cameroon
1,017

42

305
670
33
38
2


Africa


Afghanistan
996

33

131
832
7
26
0.8
6,422
165
Asia


Bulgaria
915
+21
43
+1
167
705
36
132
6
26,417
3,802
Europe


Tunisia
879

38

43
798
33
74
3
16,098
1,362
Africa


Ivory Coast
847

9

260
578

32
0.3


Africa


Djibouti
846

2

102
742

856
2
8,144
8,243
Africa


Cyprus
767

12

81
674
15
635
10
34,087
28,233
Asia


Latvia
739
+12
5

88
646
5
392
3
36,668
19,440
Europe


Andorra
713

36

235
442
17
9,228
466
1,673
21,653
Europe


Diamond Princess
712

13

644
55
7







Lebanon
673

21

102
550
27
99
3
20,929
3,066
Asia


Costa Rica
660

5

112
543
14
130
1.0
10,417
2,045
North America


Niger
648

20

117
511

27
0.8
4,715
195
Africa


Nigeria
627

21

170
436
2
3
0.1
7,153
35
Africa


Albania
584
+22
26

327
231
5
203
9
5,775
2,007
Europe


Guinea
579

5

87
487

44
0.4


Africa


Burkina Faso
576

36

338
202

28
2


Africa


Kyrgyzstan
568
+14
7
+2
201
360
5
87
1
26,147
4,008
Asia


Bolivia
564
+44
33
+1
31
500
3
48
3
3,569
306
South America


Uruguay
528
+11
10

298
220
13
152
3
13,207
3,802
South America


Channel Islands
488

21

73
394

2,807
121
3,320
19,095
Europe


Honduras
477
+5
46

25
406
10
48
5
2,535
256
North America


San Marino
461

39

60
362
4
13,586
1,149
1,711
50,426
Europe


Palestine
449
+10
3

71
375

88
0.6
17,329
3,397
Asia


Malta
427

3

118
306
2
967
7
23,253
52,663
Europe


Taiwan
422
+2
6

203
213

18
0.3
53,632
2,252
Asia


Jordan
417

7

276
134
5
41
0.7
29,000
2,842
Asia


Réunion
408



237
171
4
456



Africa


Georgia
399
+5
4

93
302
6
100
1
5,027
1,260
Asia


Senegal
367

4
+1
220
143
1
22
0.2


Africa


Mauritius
328

9

208
111
3
258
7
9,755
7,670
Africa


DRC
327

25

27
275

4
0.3


Africa


Montenegro
311
+3
5

55
251
7
495
8
3,874
6,168
Europe


Isle of Man
298

6

193
99
10
3,505
71
2,465
28,989
Europe


Sri Lanka
295
+24
7

97
191
1
14
0.3
6,463
302
Asia


Guatemala
289
+32
7

21
261
3
16
0.4
7,200
402
North America


Mayotte
271

4

117
150
5
993
15
1,850
6,781
Africa


Kenya
270

14

67
189
2
5
0.3
13,239
246
Africa


Vietnam
268



202
66
8
3

206,253
2,119
Asia


Venezuela
256

9

117
130
4
9
0.3
336,169
11,822
South America


Mali
224

14

42
168

11
0.7


Africa


El Salvador
218
+17
7

46
165
2
34
1
12,210
1,882
North America


Paraguay
208
+2
8

46
154
1
29
1
4,950
694
South America


Jamaica
196
+23
5

27
164

66
2
1,809
611
North America


Faeroe Islands
185



176
9

3,786

6,021
123,222
Europe


Tanzania
170

7

11
152
4
3
0.1


Africa


Somalia
164

7

3
154
2
10
0.4


Africa


Martinique
163

12

73
78
11
434
32


North America


Guadeloupe
148

8

73
67
13
370
20


North America


Rwanda
147



76
71

11

6,959
537
Africa


Congo
143

6

11
126

26
1


Africa


Brunei
138

1

116
21
2
315
2
11,633
26,591
Asia


Gibraltar
132



120
12
1
3,918

1,912
56,751
Europe


Cambodia
122



107
15
1
7

5,768
345
Asia


Madagascar
121



39
82
1
4

2,357
85
Africa


Trinidad and Tobago
114

8

21
85

81
6
1,335
954
North America


Myanmar
111

5

7
99

2
0.09
4,786
88
Asia


Gabon
109

1

7
101

49
0.4
572
257
Africa


Ethiopia
108

3

16
89
1
0.9
0.03
7,557
66
Africa


Aruba
97

2

49
46
4
909
19
1,442
13,506
North America


French Guiana
97
+1


69
28
2
325



South America


Monaco
94

3

22
69
3
2,395
76


Europe


Sudan
92
+26
12
+2
8
72

2
0.3


Africa


Liberia
91

8

7
76

18
2


Africa


Bermuda
86

5

35
46
10
1,381
80
638
10,244
North America


Togo
84

5

52
27

10
0.6
4,295
519
Africa


Liechtenstein
81

1

55
25

2,124
26
900
23,605
Europe


Equatorial Guinea
79



4
75

56

854
609
Africa


Barbados
75

5

19
51
4
261
17
1,035
3,602
North America


Sint Maarten
67

10

12
45
6
1,563
233
163
3,802
North America


Guyana
65

7

9
49
4
83
9
322
409
South America


Zambia
61

3

33
25
1
3
0.2
2,586
141
Africa


Cabo Verde
61

1

1
59

110
2


Africa


Cayman Islands
61

1

7
53
3
928
15
702
10,681
North America


Bahamas
60

9

11
40
1
153
23


North America


French Polynesia
55



2
53
1
196

1,302
4,635
Australia/Oceania


Uganda
55



28
27

1

12,565
275
Africa


Maldives
52



16
36

96

3,714
6,871
Asia


Libya
51

1

11
39

7
0.1
725
106
Africa


Guinea-Bissau
50



3
47

25

1,500
762
Africa


Haiti
47

3


44

4
0.3
498
44
North America


Macao
45



17
28
1
69



Asia


Syria
39

3

5
31

2
0.2


Asia


Eritrea
39



3
36

11



Africa


Mozambique
39



8
31

1

1,037
33
Africa


Saint Martin
37

2

19
16
5
957
52


North America


Benin
35

1

18
16

3
0.08


Africa


Sierra Leone
35



6
29

4



Africa


Chad
33



8
25

2



Africa


Mongolia
33
+1


7
26

10

1,554
474
Asia


Nepal
31



4
27

1

29,567
1,015
Asia


Zimbabwe
25

3

2
20

2
0.2
2,851
192
Africa


Angola
24

2

6
16

0.7
0.06


Africa


Antigua and Barbuda
23

3

3
17
1
235
31
73
745
North America


Eswatini
22

1

8
13

19
0.9
714
615
Africa


Timor-Leste
22
+3


1
21

17



Asia


Botswana
20

1


19

9
0.4
4,432
1,885
Africa


Laos
19



2
17

3

1,349
185
Asia


Belize
18

2

2
14
1
45
5
651
1,637
North America


Fiji
18
+1


3
15

20



Australia/Oceania


New Caledonia
18



15
3
1
63

3,399
11,906
Australia/Oceania


Malawi
17

2

3
12
1
0.9
0.1
429
22
Africa


Dominica
16



8
8

222

345
4,793
North America


Namibia
16



6
10

6

524
206
Africa


Saint Kitts and Nevis
15
+1



15

282

247
4,643
North America


Saint Lucia
15



11
4

82

344
1,873
North America


Curaçao
14

1

11
2

85
6
286
1,743
North America


Grenada
14



6
8
4
124

92
818
North America


CAR
12



4
8

2



Africa


St. Vincent Grenadines
12



1
11

108

87
784
North America


Turks and Caicos
11

1


10

284
26
83
2,144
North America


Falkland Islands
11



3
8

3,161

319
91,667
South America


Greenland
11



11
0

194

1,043
18,372
North America


Montserrat
11



2
9
1
2,204

36
7,212
North America


Seychelles
11



5
6

112



Africa


Nicaragua
10

2

6
2

2
0.3


North America


Gambia
10

1

2
7

4
0.4
316
131
Africa


Suriname
10

1

6
3

17
2


South America


MS Zaandam
9

2


7








Vatican City
8



2
6

9,988



Europe


Mauritania
7

1

6
0

2
0.2
913
196
Africa


Papua New Guinea
7




7

0.8

167
19
Australia/Oceania


St. Barth
6



5
1

607



North America


Western Sahara
6




6

10



Africa


British Virgin Islands
5
+1
1

3
1

165
33


North America


Burundi
5

1

4
0

0.4
0.08
80
7
Africa


Bhutan
5



2
3

6

8,107
10,507
Asia


Caribbean Netherlands
5




5

191

110
4,195
North America


Sao Tome and Principe
4




4

18

19
87
Africa


South Sudan
4




4

0.4



Africa


Anguilla
3



1
2

200



North America


Saint Pierre Miquelon
1




1

173



North America


Yemen
1




1

0.03



Asia


China
82,747
+12
4,632

77,084
1,031
81
57
3


Asia


Total:
820,749
+666
43,369
+32
86,885
690,495
14,651




North America


Total:
1,097,423
+8,167
102,454
+618
316,674
678,295
25,383




Europe


Total:
386,077
+2,920
14,840
+54
181,254
189,983
6,403




Asia


Total:
82,310
+58
3,850
+1
36,339
42,121
7,533




South America


Total:
8,157
+17
83

5,252
2,822
54




Australia/Oceania


Total:
22,992
+26
1,128
+3
5,847
16,017
174




Africa


Total:
721

15

644
62
7







Total:
2,418,429
+11,854
165,739
+708
632,895
1,619,795
54,205
310.3
21.3


All

In [57]:
countrydatasaved =""
for record in soup.findAll('tr'):
    countrydata=""
    for data in record.findAll('td'):
        countrydata =countrydata+","+data.text
    print(countrydata)
    #countrydatasaved = countrydata +"\n"+countrydata[1:]
        
#print(countrydatasaved)

,
North America
,820,749,+666,43,369,+32,86,885,690,495,14,651,,,,,North America
,
Europe
,1,097,423,+8,167,102,454,+618,316,674,678,295,25,383,,,,,Europe
,
Asia
,386,077,+2,920,14,840,+54,181,254,189,983,6,403,,,,,Asia
,
South America
,82,310,+58,3,850,+1,36,339,42,121,7,533,,,,,South America
,
Oceania
,8,157,+17,83,,5,252,2,822,54,,,,,Australia/Oceania
,
Africa
,22,992,+26,1,128,+3,5,847,16,017,174,,,,,Africa
,

,721,,15,,644,62,7,,,,,
,World,2,418,429,+11,854,165,739,+708,632,895,1,619,795,54,205,310,21.3,,,All
,USA,764,265,,40,565 ,,71,012,652,688,13,566,2,309,123,3,861,596,11,666,North America
,Spain,200,210,+1,536,20,852 ,+399,80,587,98,771,7,371,4,282,446,930,230,19,896,Europe
,Italy,178,972,,23,660 ,,47,055,108,257,2,635,2,960,391,1,356,541,22,436,Europe
,France,152,894,,19,718 ,,36,578,96,598,5,744,2,342,302,463,662,7,103,Europe
,Germany,145,743,+1,4,642 ,,91,500,49,601,2,889,1,740,55,1,728,357,20,629,Europe
,UK,120,067,,16,060 ,,N/A,103,663,1,559,1,769,237,482,063,7,101,Europe
,Turkey,86,306,,2,017 ,,11,976,72,313,1,922,1,023,24,634,277,7,521,Asia
,Iran,82,211,,5,118 ,,57,023,20,070,3,456,979,61,341,662,4,068,Asia
,Russia,47,121,+4,268,405 ,+44,3,446,43,270,8,323,3,2,050,000,14,047,Europe
,Belgium,39,983,+1,487,5,828 ,+145,8,895,25,260,1,071,3,450,503,153,778,13,269,Europe
,Brazil,38,654,,2,462 ,,22,130,14,062,6,634,182,12,62,985,296,South America
,Canada,35,056,,1,587 ,,11,843,21,626,557,929,42,549,349,14,555,North America
,Netherlands,32,655,,3,684 ,,250,28,721,1,176,1,906,215,154,911,9,041,Europe
,Switzerland,27,740,,1,393 ,,17,800,8,547,386,3,205,161,221,263,25,566,Europe
,Portugal,20,206,,714 ,,610,18,882,224,1,982,70,235,878,23,133,Europe
,India,17,615,,559 ,,2,854,14,202,,13,0.4,401,586,291,Asia
,Peru,15,628,,400 ,,6,811,8,417,167,474,12,143,745,4,360,South America
,Ireland,15,251,,610 ,,77,14,564,294,3,089,124,90,646,18,358,Europe
,Austria,14,749,,452 ,,10,501,3,796,204,1,638,50,179,243,19,902,Europe
,Sweden,14,385,,1,540 ,,550,12,295,450,1,424,152,74,600,7,387,Europe
,Israel,13,654,+163,173 ,+1,3,872,9,609,150,1,577,20,187,250,21,634,Asia
,Japan,10,797,,236 ,,1,159,9,402,217,85,2,112,816,892,Asia
,S. Korea,10,674,+13,236 ,+2,8,114,2,324,55,208,5,563,035,10,982,Asia
,Chile,10,088,,133 ,,4,338,5,617,360,528,7,113,649,5,945,South America
,Ecuador,9,468,,474 ,,1,061,7,933,124,537,27,31,809,1,803,South America
,Poland,9,453,+166,362 ,+2,1,133,7,958,160,250,10,204,246,5,397,Europe
,Saudi Arabia,9,362,,97 ,,1,398,7,867,97,269,3,180,000,5,170,Asia
,Romania,8,746,,451 ,,1,892,6,403,256,455,23,93,611,4,866,Europe
,Pakistan,8,418,+70,176 ,+8,1,970,6,272,46,38,0.8,104,302,472,Asia
,Mexico,8,261,+764,686 ,+36,2,627,4,948,207,64,5,49,570,384,North America
,Singapore,8,014,+1,426,11 ,,768,7,235,22,1,370,2,94,796,16,203,Asia
,Denmark,7,515,+131,355 ,,4,141,3,019,84,1,297,61,96,244,16,616,Europe
,Norway,7,103,+25,165 ,,32,6,906,58,1,310,30,142,166,26,224,Europe
,Czechia,6,787,+41,188 ,+2,1,311,5,288,84,634,18,172,123,16,073,Europe
,UAE,6,781,,41 ,,1,286,5,454,1,686,4,767,000,77,550,Asia
,Indonesia,6,760,+185,590 ,+8,747,5,423,,25,2,42,219,154,Asia
,Australia,6,619,+7,71 ,,4,258,2,290,49,260,3,431,734,16,931,Australia/Oceania
,Philippines,6,459,+200,428 ,+19,613,5,418,1,59,4,59,928,547,Asia
,Serbia,6,318,,122 ,,753,5,443,120,723,14,38,701,4,429,Europe
,Ukraine,5,710,+261,151 ,+10,359,5,200,45,131,3,58,093,1,328,Europe
,Qatar,5,448,,8 ,,518,4,922,37,1,891,3,62,538,21,707,Asia
,Malaysia,5,389,,89 ,,3,197,2,103,46,167,3,103,892,3,210,Asia
,Belarus,4,779,,47 ,,494,4,238,65,506,5,98,231,10,396,Europe
,Dominican Republic,4,680,,226 ,,363,4,091,114,431,21,15,583,1,436,North America
,Panama,4,467,+194,126 ,+6,165,4,176,98,1,035,29,19,091,4,425,North America
,Finland,3,868,+85,94 ,,1,700,2,074,68,698,17,58,727,10,599,Europe
,Colombia,3,792,,179 ,,711,2,902,98,75,4,62,746,1,233,South America
,Luxembourg,3,550,,73 ,,627,2,850,31,5,671,117,33,666,53,781,Europe
,South Africa,3,158,,54 ,,903,2,201,36,53,0.9,114,711,1,934,Africa
,Egypt,3,144,,239 ,,732,2,173,,31,2,55,000,537,Africa
,Bangladesh,2,948,+492,101 ,+10,85,2,762,1,18,0.6,26,604,162,Asia
,Argentina,2,941,,134 ,,709,2,098,123,65,3,32,712,724,South America
,Morocco,2,855,,141 ,,327,2,387,1,77,4,15,123,410,Africa
,Thailand,2,792,+27,47 ,,1,999,746,61,40,0.7,142,589,2,043,Asia
,Algeria,2,629,,375 ,,1,047,1,207,40,60,9,6,500,148,Africa
,Moldova,2,472,,67 ,,457,1,948,80,613,17,10,488,2,600,Europe
,Greece,2,235,,113 ,,269,1,853,67,214,11,53,290,5,113,Europe
,Hungary,1,984,+68,199 ,+10,267,1,518,60,205,21,48,057,4,975,Europe
,Kuwait,1,915,,7 ,,305,1,603,38,448,2,,,Asia
,Bahrain,1,881,,7 ,,762,1,112,2,1,105,4,86,732,50,972,Asia
,Croatia,1,871,,47 ,,709,1,115,23,456,11,24,186,5,891,Europe
,Iceland,1,771,,9 ,,1,291,471,3,5,190,26,41,091,120,416,Europe
,Kazakhstan,1,757,+81,19 ,+2,417,1,321,22,94,1,117,949,6,282,Asia
,Uzbekistan,1,565,,5 ,,225,1,335,8,47,0.1,136,000,4,063,Asia
,Iraq,1,539,,82 ,,1,009,448,,38,2,56,147,1,396,Asia
,Estonia,1,535,+7,40 ,,165,1,330,9,1,157,30,40,930,30,855,Europe
,New Zealand,1,440,+9,12 ,,974,454,3,299,2,86,305,17,897,Australia/Oceania
,Oman,1,410,+144,7 ,,238,1,165,3,276,1,,,Asia
,Azerbaijan,1,398,,19 ,,712,667,21,138,2,95,747,9,443,Asia
,Armenia,1,339,+48,22 ,+2,580,737,30,452,7,13,373,4,513,Asia
,Slovenia,1,335,+5,77 ,+3,193,1,065,26,642,37,41,802,20,107,Europe
,Lithuania,1,326,+28,37 ,+2,242,1,047,14,487,14,66,352,24,374,Europe
,Bosnia and Herzegovina,1,285,,48 ,,347,890,4,392,15,17,818,5,431,Europe
,North Macedonia,1,207,,51 ,,179,977,15,579,24,11,870,5,697,Europe
,Slovakia,1,161,,12 ,,229,920,10,213,2,44,278,8,110,Europe
,Ghana,1,042,,9 ,,99,934,4,34,0.3,68,591,2,207,Africa
,Cuba,1,035,,34 ,,255,746,16,91,3,26,982,2,382,North America
,Hong Kong,1,026,,4 ,,602,420,8,137,0.5,131,786,17,579,Asia
,Cameroon,1,017,,42 ,,305,670,33,38,2,,,Africa
,Afghanistan,996,,33 ,,131,832,7,26,0.8,6,422,165,Asia
,Bulgaria,915,+21,43 ,+1,167,705,36,132,6,26,417,3,802,Europe
,Tunisia,879,,38 ,,43,798,33,74,3,16,098,1,362,Africa
,Ivory Coast,847,,9 ,,260,578,,32,0.3,,,Africa
,Djibouti,846,,2 ,,102,742,,856,2,8,144,8,243,Africa
,Cyprus,767,,12 ,,81,674,15,635,10,34,087,28,233,Asia
,Latvia,739,+12,5 ,,88,646,5,392,3,36,668,19,440,Europe
,Andorra,713,,36 ,,235,442,17,9,228,466,1,673,21,653,Europe
,Diamond Princess,712,,13 ,,644,55,7,,,,,
,Lebanon,673,,21 ,,102,550,27,99,3,20,929,3,066,Asia
,Costa Rica,660,,5 ,,112,543,14,130,1.0,10,417,2,045,North America
,Niger,648,,20  ,,117,511,,27,0.8,4,715,195,Africa
,Nigeria,627,,21 ,,170,436,2,3,0.1,7,153,35,Africa
,Albania,584,+22,26 ,,327,231,5,203,9,5,775,2,007,Europe
,Guinea,579,,5 ,,87,487,,44,0.4,,,Africa
,Burkina Faso,576,,36 ,,338,202,,28,2,,,Africa
,Kyrgyzstan,568,+14,7 ,+2,201,360,5,87,1,26,147,4,008,Asia
,Bolivia,564,+44,33 ,+1,31,500,3,48,3,3,569,306,South America
,Uruguay,528,+11,10 ,,298,220,13,152,3,13,207,3,802,South America
,Channel Islands,488,,21 ,,73,394,,2,807,121,3,320,19,095,Europe
,Honduras,477,+5,46 ,,25,406,10,48,5,2,535,256,North America
,San Marino,461,,39 ,,60,362,4,13,586,1,149,1,711,50,426,Europe
,Palestine,449,+10,3 ,,71,375,,88,0.6,17,329,3,397,Asia
,Malta,427,,3 ,,118,306,2,967,7,23,253,52,663,Europe
,Taiwan,422,+2,6 ,,203,213,,18,0.3,53,632,2,252,Asia
,Jordan,417,,7 ,,276,134,5,41,0.7,29,000,2,842,Asia
,Réunion,408,, ,,237,171,4,456,,,,Africa
,Georgia,399,+5,4 ,,93,302,6,100,1,5,027,1,260,Asia
,Senegal,367,,4 ,+1,220,143,1,22,0.2,,,Africa
,Mauritius,328,,9 ,,208,111,3,258,7,9,755,7,670,Africa
,DRC,327,,25 ,,27,275,,4,0.3,,,Africa
,Montenegro,311,+3,5 ,,55,251,7,495,8,3,874,6,168,Europe
,Isle of Man,298,,6 ,,193,99,10,3,505,71,2,465,28,989,Europe
,Sri Lanka,295,+24,7 ,,97,191,1,14,0.3,6,463,302,Asia
,Guatemala,289,+32,7 ,,21,261,3,16,0.4,7,200,402,North America
,Mayotte,271,,4 ,,117,150,5,993,15,1,850,6,781,Africa
,Kenya,270,,14 ,,67,189,2,5,0.3,13,239,246,Africa
,Vietnam,268,, ,,202,66,8,3,,206,253,2,119,Asia
,Venezuela,256,,9 ,,117,130,4,9,0.3,336,169,11,822,South America
,Mali,224,,14 ,,42,168,,11,0.7,,,Africa
,El Salvador,218,+17,7 ,,46,165,2,34,1,12,210,1,882,North America
,Paraguay,208,+2,8 ,,46,154,1,29,1,4,950,694,South America
,Jamaica,196,+23,5 ,,27,164,,66,2,1,809,611,North America
,Faeroe Islands,185,, ,,176,9,,3,786,,6,021,123,222,Europe
,Tanzania,170,,7 ,,11,152,4,3,0.1,,,Africa
,Somalia,164,,7 ,,3,154,2,10,0.4,,,Africa
,Martinique,163,,12 ,,73,78,11,434,32,,,North America
,Guadeloupe,148,,8 ,,73,67,13,370,20,,,North America
,Rwanda,147,, ,,76,71,,11,,6,959,537,Africa
,Congo,143,,6 ,,11,126,,26,1,,,Africa
,Brunei ,138,,1 ,,116,21,2,315,2,11,633,26,591,Asia
,Gibraltar,132,, ,,120,12,1,3,918,,1,912,56,751,Europe
,Cambodia,122,, ,,107,15,1,7,,5,768,345,Asia
,Madagascar,121,, ,,39,82,1,4,,2,357,85,Africa
,Trinidad and Tobago,114,,8 ,,21,85,,81,6,1,335,954,North America
,Myanmar,111,,5 ,,7,99,,2,0.09,4,786,88,Asia
,Gabon,109,,1 ,,7,101,,49,0.4,572,257,Africa
,Ethiopia,108,,3 ,,16,89,1,0.9,0.03,7,557,66,Africa
,Aruba,97,,2 ,,49,46,4,909,19,1,442,13,506,North America
,French Guiana,97,+1, ,,69,28,2,325,,,,South America
,Monaco,94,,3 ,,22,69,3,2,395,76,,,Europe
,Sudan,92,+26,12 ,+2,8,72,,2,0.3,,,Africa
,Liberia,91,,8 ,,7,76,,18,2,,,Africa
,Bermuda,86,,5 ,,35,46,10,1,381,80,638,10,244,North America
,Togo,84,,5 ,,52,27,,10,0.6,4,295,519,Africa
,Liechtenstein,81,,1 ,,55,25,,2,124,26,900,23,605,Europe
,Equatorial Guinea,79,, ,,4,75,,56,,854,609,Africa
,Barbados,75,,5 ,,19,51,4,261,17,1,035,3,602,North America
,Sint Maarten,67,,10 ,,12,45,6,1,563,233,163,3,802,North America
,Guyana,65,,7 ,,9,49,4,83,9,322,409,South America
,Zambia,61,,3 ,,33,25,1,3,0.2,2,586,141,Africa
,Cabo Verde,61,,1 ,,1,59,,110,2,,,Africa
,Cayman Islands,61,,1 ,,7,53,3,928,15,702,10,681,North America
,Bahamas,60,,9 ,,11,40,1,153,23,,,North America
,French Polynesia,55,, ,,2,53,1,196,,1,302,4,635,Australia/Oceania
,Uganda,55,, ,,28,27,,1,,12,565,275,Africa
,Maldives,52,, ,,16,36,,96,,3,714,6,871,Asia
,Libya,51,,1 ,,11,39,,7,0.1,725,106,Africa
,Guinea-Bissau,50,, ,,3,47,,25,,1,500,762,Africa
,Haiti,47,,3 ,,,44,,4,0.3,498,44,North America
,Macao,45,, ,,17,28,1,69,,,,Asia
,Syria,39,,3 ,,5,31,,2,0.2,,,Asia
,Eritrea,39,, ,,3,36,,11,,,,Africa
,Mozambique,39,, ,,8,31,,1,,1,037,33,Africa
,Saint Martin,37,,2 ,,19,16,5,957,52,,,North America
,Benin,35,,1 ,,18,16,,3,0.08,,,Africa
,Sierra Leone,35,, ,,6,29,,4,,,,Africa
,Chad,33,, ,,8,25,,2,,,,Africa
,Mongolia,33,+1, ,,7,26,,10,,1,554,474,Asia
,Nepal,31,, ,,4,27,,1,,29,567,1,015,Asia
,Zimbabwe,25,,3 ,,2,20,,2,0.2,2,851,192,Africa
,Angola,24,,2 ,,6,16,,0.7,0.06,,,Africa
,Antigua and Barbuda,23,,3 ,,3,17,1,235,31,73,745,North America
,Eswatini,22,,1 ,,8,13,,19,0.9,714,615,Africa
,Timor-Leste,22,+3, ,,1,21,,17,,,,Asia
,Botswana,20,,1 ,,,19,,9,0.4,4,432,1,885,Africa
,Laos,19,, ,,2,17,,3,,1,349,185,Asia
,Belize,18,,2 ,,2,14,1,45,5,651,1,637,North America
,Fiji,18,+1, ,,3,15,,20,,,,Australia/Oceania
,New Caledonia,18,, ,,15,3,1,63,,3,399,11,906,Australia/Oceania
,Malawi,17,,2 ,,3,12,1,0.9,0.1,429,22,Africa
,Dominica,16,, ,,8,8,,222,,345,4,793,North America
,Namibia,16,, ,,6,10,,6,,524,206,Africa
,Saint Kitts and Nevis,15,+1, ,,,15,,282,,247,4,643,North America
,Saint Lucia,15,, ,,11,4,,82,,344,1,873,North America
,Curaçao,14,,1 ,,11,2,,85,6,286,1,743,North America
,Grenada,14,, ,,6,8,4,124,,92,818,North America
,CAR,12,, ,,4,8,,2,,,,Africa
,St. Vincent Grenadines,12,, ,,1,11,,108,,87,784,North America
,Turks and Caicos,11,,1 ,,,10,,284,26,83,2,144,North America
,Falkland Islands,11,, ,,3,8,,3,161,,319,91,667,South America
,Greenland,11,, ,,11,0,,194,,1,043,18,372,North America
,Montserrat,11,, ,,2,9,1,2,204,,36,7,212,North America
,Seychelles,11,, ,,5,6,,112,,,,Africa
,Nicaragua,10,,2 ,,6,2,,2,0.3,,,North America
,Gambia,10,,1 ,,2,7,,4,0.4,316,131,Africa
,Suriname,10,,1 ,,6,3,,17,2,,,South America
,MS Zaandam,9,,2 ,,,7,,,,,,
,Vatican City,8,, ,,2,6,,9,988,,,,Europe
,Mauritania,7,,1 ,,6,0,,2,0.2,913,196,Africa
,Papua New Guinea,7,, ,,,7,,0.8,,167,19,Australia/Oceania
,St. Barth,6,, ,,5,1,,607,,,,North America
,Western Sahara,6,, ,,,6,,10,,,,Africa
,British Virgin Islands,5,+1,1 ,,3,1,,165,33,,,North America
,Burundi,5,,1 ,,4,0,,0.4,0.08,80,7,Africa
,Bhutan,5,, ,,2,3,,6,,8,107,10,507,Asia
,Caribbean Netherlands,5,, ,,,5,,191,,110,4,195,North America
,Sao Tome and Principe,4,, ,,,4,,18,,19,87,Africa
,South Sudan,4,, ,,,4,,0.4,,,,Africa
,Anguilla,3,, ,,1,2,,200,,,,North America
,Saint Pierre Miquelon,1,, ,,,1,,173,,,,North America
,Yemen,1,, ,,,1,,0.03,,,,Asia
,China,82,747,+12,4,632 ,,77,084,1,031,81,57,3,,,Asia
,Total:,820,749,+666,43,369,+32,86,885,690,495,14,651,,,,,North America
,Total:,1,097,423,+8,167,102,454,+618,316,674,678,295,25,383,,,,,Europe
,Total:,386,077,+2,920,14,840,+54,181,254,189,983,6,403,,,,,Asia
,Total:,82,310,+58,3,850,+1,36,339,42,121,7,533,,,,,South America
,Total:,8,157,+17,83,,5,252,2,822,54,,,,,Australia/Oceania
,Total:,22,992,+26,1,128,+3,5,847,16,017,174,,,,,Africa
,Total:,721,,15,,644,62,7,,,,,
,Total:,2,418,429,+11,854,165,739,+708,632,895,1,619,795,54,205,310.3,21.3,,,All

,
Asia
,383,157,+12,373,14,786,+385,180,611,187,760,6,403,,,,,Asia
,
North America
,820,083,+28,674,43,337,+1,800,87,020,689,726,14,644,,,,,North America
,
Europe
,1,089,256,+29,218,101,836,+2,558,309,495,677,925,25,395,,,,,Europe
,
South America
,82,252,+4,279,3,849,+196,36,329,42,074,7,534,,,,,South America
,
Oceania
,8,140,+35,83,+2,5,159,2,898,68,,,,,Australia/Oceania
,
Africa
,22,966,+1,225,1,125,+43,5,840,16,001,174,,,,,Africa
,

,721,,15,,644,62,7,,,,,
,World,2,406,575,+75,804,165,031,+4,984,625,098,1,616,446,54,225,309,21.2,,,All
,China,82,735,+16,4,632 ,,77,062,1,041,85,57,3,,,Asia
,USA,764,636,+25,844,40,575 ,+1,561,71,187,652,874,13,566,2,310,123,3,861,549,11,666,North America
,Spain,198,674,+4,258,20,453 ,+410,77,357,100,864,7,371,4,249,437,930,230,19,896,Europe
,Italy,178,972,+3,047,23,660 ,+433,47,055,108,257,2,635,2,960,391,1,356,541,22,436,Europe
,France,152,894,+1,101,19,718 ,+395,36,578,96,598,5,744,2,342,302,463,662,7,103,Europe
,Germany,145,742,+2,018,4,642 ,+104,88,000,53,100,2,889,1,739,55,1,728,357,20,629,Europe
,UK,120,067,+5,850,16,060 ,+596,N/A,103,663,1,559,1,769,237,482,063,7,101,Europe
,Turkey,86,306,+3,977,2,017 ,+127,11,976,72,313,1,922,1,023,24,634,277,7,521,Asia
,Iran,82,211,+1,343,5,118 ,+87,57,023,20,070,3,456,979,61,341,662,4,068,Asia
,Russia,42,853,+6,060,361 ,+48,3,291,39,201,8,294,2,1,940,000,13,294,Europe
,Brazil,38,654,+1,932,2,462 ,+101,22,130,14,062,6,634,182,12,62,985,296,South America
,Belgium,38,496,+1,313,5,683 ,+230,8,757,24,056,1,081,3,322,490,153,778,13,269,Europe
,Canada,35,056,+1,673,1,587 ,+117,11,843,21,626,557,929,42,536,062,14,203,North America
,Netherlands,32,655,+1,066,3,684 ,+83,250,28,721,1,176,1,906,215,154,911,9,041,Europe
,Switzerland,27,740,+336,1,393 ,+25,17,800,8,547,386,3,205,161,221,263,25,566,Europe
,Portugal,20,206,+521,714 ,+27,610,18,882,224,1,982,70,235,878,23,133,Europe
,India,17,615,+1,250,559 ,+38,2,854,14,202,,13,0.4,401,586,291,Asia
,Peru,15,628,+1,208,400 ,+52,6,811,8,417,167,474,12,143,745,4,360,South America
,Ireland,15,251,+493,610 ,+39,77,14,564,294,3,089,124,90,646,18,358,Europe
,Austria,14,749,+78,452 ,+9,10,501,3,796,204,1,638,50,179,243,19,902,Europe
,Sweden,14,385,+563,1,540 ,+29,550,12,295,450,1,424,152,74,600,7,387,Europe
,Israel,13,491,+226,172 ,+8,3,754,9,565,146,1,559,20,187,250,21,634,Asia
,Japan,10,797,+501,236 ,+14,1,159,9,402,217,85,2,112,816,892,Asia
,S. Korea,10,661,+8,234 ,+2,8,042,2,385,55,208,5,559,109,10,905,Asia
,Chile,10,088,+358,133 ,+7,4,338,5,617,360,528,7,113,649,5,945,South America
,Ecuador,9,468,+446,474 ,+18,1,061,7,933,124,537,27,31,809,1,803,South America
,Saudi Arabia,9,362,+1,088,97 ,+5,1,398,7,867,97,269,3,180,000,5,170,Asia
,Poland,9,287,+545,360 ,+13,1,040,7,887,160,245,10,204,246,5,397,Europe
,Romania,8,746,+328,451 ,+30,1,892,6,403,256,455,23,93,611,4,866,Europe
,Pakistan,8,348,+710,168 ,+25,1,868,6,312,46,38,0.8,98,522,446,Asia
,Mexico,7,497,+622,650 ,+104,2,627,4,220,207,58,5,49,167,381,North America
,Denmark,7,384,+142,355 ,+9,4,141,2,888,84,1,275,61,94,277,16,277,Europe
,Norway,7,078,+42,165 ,+1,32,6,881,58,1,306,30,142,166,26,224,Europe
,UAE,6,781,+479,41 ,+4,1,286,5,454,1,686,4,767,000,77,550,Asia
,Czechia,6,746,+140,186 ,+5,1,298,5,262,84,630,17,168,096,15,697,Europe
,Australia,6,612,+26,71 ,+1,4,230,2,311,48,259,3,420,996,16,510,Australia/Oceania
,Singapore,6,588,+596,11 ,,768,5,809,22,1,126,2,94,796,16,203,Asia
,Indonesia,6,575,+327,582 ,+47,686,5,307,,24,2,42,219,154,Asia
,Serbia,6,318,+324,122 ,+5,753,5,443,120,723,14,38,701,4,429,Europe
,Philippines,6,259,+172,409 ,+12,572,5,278,1,57,4,59,928,547,Asia
,Ukraine,5,449,+343,141 ,+8,347,4,961,45,125,3,57,111,1,306,Europe
,Qatar,5,448,+440,8 ,,518,4,922,37,1,891,3,62,538,21,707,Asia
,Malaysia,5,389,+84,89 ,+1,3,197,2,103,46,167,3,103,892,3,210,Asia
,Belarus,4,779,,47 ,+2,494,4,238,65,506,5,98,231,10,396,Europe
,Dominican Republic,4,680,+345,226 ,+9,363,4,091,114,431,21,15,583,1,436,North America
,Panama,4,273,+63,120 ,+4,140,4,013,96,990,28,19,091,4,425,North America
,Colombia,3,792,+171,179 ,+13,711,2,902,98,75,4,62,746,1,233,South America
,Finland,3,783,+102,94 ,+4,1,700,1,989,68,683,17,57,300,10,342,Europe
,Luxembourg,3,550,+13,73 ,+1,627,2,850,31,5,671,117,33,666,53,781,Europe
,South Africa,3,158,+124,54 ,+2,903,2,201,36,53,0.9,114,711,1,934,Africa
,Egypt,3,144,+112,239 ,+15,732,2,173,,31,2,55,000,537,Africa
,Argentina,2,941,+102,134 ,+2,709,2,098,123,65,3,32,712,724,South America
,Morocco,2,855,+170,141 ,+4,327,2,387,1,77,4,15,123,410,Africa
,Thailand,2,765,+32,47 ,,1,928,790,61,40,0.7,100,498,1,440,Asia
,Algeria,2,629,+95,375 ,+8,1,047,1,207,40,60,9,6,500,148,Africa
,Moldova,2,472,+121,67 ,+10,457,1,948,80,613,17,10,488,2,600,Europe
,Bangladesh,2,456,+312,91 ,+7,75,2,290,1,15,0.6,23,941,145,Asia
,Greece,2,235,,113 ,+3,269,1,853,67,214,11,53,290,5,113,Europe
,Hungary,1,916,+82,189 ,+17,250,1,477,61,198,20,46,353,4,798,Europe
,Kuwait,1,915,+164,7 ,+1,305,1,603,38,448,2,,,Asia
,Bahrain,1,881,+108,7 ,,759,1,115,2,1,105,4,85,126,50,028,Asia
,Croatia,1,871,+39,47 ,+8,709,1,115,23,456,11,24,186,5,891,Europe
,Iceland,1,771,+11,9 ,,1,291,471,3,5,190,26,41,091,120,416,Europe
,Kazakhstan,1,676,+61,17 ,,400,1,259,22,89,0.9,100,878,5,373,Asia
,Uzbekistan,1,565,+75,5 ,,225,1,335,8,47,0.1,136,000,4,063,Asia
,Iraq,1,539,+26,82 ,,1,009,448,,38,2,56,147,1,396,Asia
,Estonia,1,528,+16,40 ,+2,164,1,324,10,1,152,30,40,333,30,405,Europe
,New Zealand,1,431,+9,12 ,+1,912,507,18,297,2,83,224,17,258,Australia/Oceania
,Azerbaijan,1,398,+25,19 ,+1,712,667,21,138,2,95,747,9,443,Asia
,Slovenia,1,330,+13,74 ,+4,192,1,064,26,640,36,41,265,19,849,Europe
,Lithuania,1,298,+59,35 ,+2,242,1,021,14,477,13,64,035,23,522,Europe
,Armenia,1,291,+43,20 ,,545,726,30,436,7,12,680,4,279,Asia
,Bosnia and Herzegovina,1,285,+17,48 ,+1,347,890,4,392,15,17,818,5,431,Europe
,Oman,1,266,+86,7 ,+1,233,1,026,3,248,1,,,Asia
,North Macedonia,1,207,+37,51 ,+2,179,977,15,579,24,11,870,5,697,Europe
,Slovakia,1,161,+72,12 ,+1,229,920,10,213,2,44,278,8,110,Europe
,Ghana,1,042,+208,9 ,,99,934,4,34,0.3,68,591,2,207,Africa
,Cuba,1,035,+49,34 ,+2,255,746,16,91,3,26,982,2,382,North America
,Hong Kong,1,026,+2,4 ,,602,420,8,137,0.5,131,786,17,579,Asia
,Cameroon,1,017,,42 ,,305,670,33,38,2,,,Africa
,Afghanistan,996,+63,33 ,+3,131,832,7,26,0.8,6,422,165,Asia
,Bulgaria,894,+16,42 ,+1,161,691,36,129,6,26,417,3,802,Europe
,Tunisia,879,+13,38 ,+1,43,798,33,74,3,16,098,1,362,Africa
,Ivory Coast,847,+46,9 ,+1,260,578,,32,0.3,,,Africa
,Djibouti,846,+114,2 ,,102,742,,856,2,8,144,8,243,Africa
,Cyprus,767,+6,12 ,,81,674,15,635,10,34,087,28,233,Asia
,Latvia,727,+15,5 ,,88,634,5,385,3,35,881,19,023,Europe
,Andorra,713,+9,36 ,+1,235,442,17,9,228,466,1,673,21,653,Europe
,Diamond Princess,712,,13 ,,644,55,7,,,,,
,Lebanon,673,+1,21 ,,102,550,27,99,3,20,929,3,066,Asia
,Costa Rica,660,+5,5 ,+1,112,543,10,130,1.0,10,417,2,045,North America
,Niger,648,+9,20 ,+1,117,511,,27,0.8,4,715,195,Africa
,Nigeria,627,+85,21 ,+2,170,436,2,3,0.1,7,153,35,Africa
,Guinea,579,+61,5 ,+2,87,487,,44,0.4,,,Africa

In [62]:
import os
countrydatasaved =""
for record in soup.findAll('tr'):
    countrydata=""
    for data in record.findAll('td'):
        countrydata =countrydata+"|"+data.text
    countrydatasaved = countrydatasaved +"\n"+countrydata[1:]
    
    
file = open(os.path.expanduser("country.csv"),"wb")
file.write(bytes(countrydatasaved,encoding="ascii",errors='ignore'))
print(countrydatasaved)

North America
|820,749|+666|43,369|+32|86,885|690,495|14,651|||||North America

Europe
|1,097,423|+8,167|102,454|+618|316,674|678,295|25,383|||||Europe

Asia
|386,077|+2,920|14,840|+54|181,254|189,983|6,403|||||Asia

South America
|82,310|+58|3,850|+1|36,339|42,121|7,533|||||South America

Oceania
|8,157|+17|83||5,252|2,822|54|||||Australia/Oceania

Africa
|22,992|+26|1,128|+3|5,847|16,017|174|||||Africa


|721||15||644|62|7|||||
World|2,418,429|+11,854|165,739|+708|632,895|1,619,795|54,205|310|21.3|||All
USA|764,265||40,565 ||71,012|652,688|13,566|2,309|123|3,861,596|11,666|North America
Spain|200,210|+1,536|20,852 |+399|80,587|98,771|7,371|4,282|446|930,230|19,896|Europe
Italy|178,972||23,660 ||47,055|108,257|2,635|2,960|391|1,356,541|22,436|Europe
France|152,894||19,718 ||36,578|96,598|5,744|2,342|302|463,662|7,103|Europe
Germany|145,743|+1|4,642 ||91,500|49,601|2,889|1,740|55|1,728,357|20,629|Europe
UK|120,067||16,060 ||N/A|103,663|1,559|1,769|237|482,063|7,101|Europe
Turkey|86,306||2,017 ||11,976|72,313|1,922|1,023|24|634,277|7,521|Asia
Iran|82,211||5,118 ||57,023|20,070|3,456|979|61|341,662|4,068|Asia
Russia|47,121|+4,268|405 |+44|3,446|43,270|8|323|3|2,050,000|14,047|Europe
Belgium|39,983|+1,487|5,828 |+145|8,895|25,260|1,071|3,450|503|153,778|13,269|Europe
Brazil|38,654||2,462 ||22,130|14,062|6,634|182|12|62,985|296|South America
Canada|35,056||1,587 ||11,843|21,626|557|929|42|549,349|14,555|North America
Netherlands|32,655||3,684 ||250|28,721|1,176|1,906|215|154,911|9,041|Europe
Switzerland|27,740||1,393 ||17,800|8,547|386|3,205|161|221,263|25,566|Europe
Portugal|20,206||714 ||610|18,882|224|1,982|70|235,878|23,133|Europe
India|17,615||559 ||2,854|14,202||13|0.4|401,586|291|Asia
Peru|15,628||400 ||6,811|8,417|167|474|12|143,745|4,360|South America
Ireland|15,251||610 ||77|14,564|294|3,089|124|90,646|18,358|Europe
Austria|14,749||452 ||10,501|3,796|204|1,638|50|179,243|19,902|Europe
Sweden|14,385||1,540 ||550|12,295|450|1,424|152|74,600|7,387|Europe
Israel|13,654|+163|173 |+1|3,872|9,609|150|1,577|20|187,250|21,634|Asia
Japan|10,797||236 ||1,159|9,402|217|85|2|112,816|892|Asia
S. Korea|10,674|+13|236 |+2|8,114|2,324|55|208|5|563,035|10,982|Asia
Chile|10,088||133 ||4,338|5,617|360|528|7|113,649|5,945|South America
Ecuador|9,468||474 ||1,061|7,933|124|537|27|31,809|1,803|South America
Poland|9,453|+166|362 |+2|1,133|7,958|160|250|10|204,246|5,397|Europe
Saudi Arabia|9,362||97 ||1,398|7,867|97|269|3|180,000|5,170|Asia
Romania|8,746||451 ||1,892|6,403|256|455|23|93,611|4,866|Europe
Pakistan|8,418|+70|176 |+8|1,970|6,272|46|38|0.8|104,302|472|Asia
Mexico|8,261|+764|686 |+36|2,627|4,948|207|64|5|49,570|384|North America
Singapore|8,014|+1,426|11 ||768|7,235|22|1,370|2|94,796|16,203|Asia
Denmark|7,515|+131|355 ||4,141|3,019|84|1,297|61|96,244|16,616|Europe
Norway|7,103|+25|165 ||32|6,906|58|1,310|30|142,166|26,224|Europe
Czechia|6,787|+41|188 |+2|1,311|5,288|84|634|18|172,123|16,073|Europe
UAE|6,781||41 ||1,286|5,454|1|686|4|767,000|77,550|Asia
Indonesia|6,760|+185|590 |+8|747|5,423||25|2|42,219|154|Asia
Australia|6,619|+7|71 ||4,258|2,290|49|260|3|431,734|16,931|Australia/Oceania
Philippines|6,459|+200|428 |+19|613|5,418|1|59|4|59,928|547|Asia
Serbia|6,318||122 ||753|5,443|120|723|14|38,701|4,429|Europe
Ukraine|5,710|+261|151 |+10|359|5,200|45|131|3|58,093|1,328|Europe
Qatar|5,448||8 ||518|4,922|37|1,891|3|62,538|21,707|Asia
Malaysia|5,389||89 ||3,197|2,103|46|167|3|103,892|3,210|Asia
Belarus|4,779||47 ||494|4,238|65|506|5|98,231|10,396|Europe
Dominican Republic|4,680||226 ||363|4,091|114|431|21|15,583|1,436|North America
Panama|4,467|+194|126 |+6|165|4,176|98|1,035|29|19,091|4,425|North America
Finland|3,868|+85|94 ||1,700|2,074|68|698|17|58,727|10,599|Europe
Colombia|3,792||179 ||711|2,902|98|75|4|62,746|1,233|South America
Luxembourg|3,550||73 ||627|2,850|31|5,671|117|33,666|53,781|Europe
South Africa|3,158||54 ||903|2,201|36|53|0.9|114,711|1,934|Africa
Egypt|3,144||239 ||732|2,173||31|2|55,000|537|Africa
Bangladesh|2,948|+492|101 |+10|85|2,762|1|18|0.6|26,604|162|Asia
Argentina|2,941||134 ||709|2,098|123|65|3|32,712|724|South America
Morocco|2,855||141 ||327|2,387|1|77|4|15,123|410|Africa
Thailand|2,792|+27|47 ||1,999|746|61|40|0.7|142,589|2,043|Asia
Algeria|2,629||375 ||1,047|1,207|40|60|9|6,500|148|Africa
Moldova|2,472||67 ||457|1,948|80|613|17|10,488|2,600|Europe
Greece|2,235||113 ||269|1,853|67|214|11|53,290|5,113|Europe
Hungary|1,984|+68|199 |+10|267|1,518|60|205|21|48,057|4,975|Europe
Kuwait|1,915||7 ||305|1,603|38|448|2|||Asia
Bahrain|1,881||7 ||762|1,112|2|1,105|4|86,732|50,972|Asia
Croatia|1,871||47 ||709|1,115|23|456|11|24,186|5,891|Europe
Iceland|1,771||9 ||1,291|471|3|5,190|26|41,091|120,416|Europe
Kazakhstan|1,757|+81|19 |+2|417|1,321|22|94|1|117,949|6,282|Asia
Uzbekistan|1,565||5 ||225|1,335|8|47|0.1|136,000|4,063|Asia
Iraq|1,539||82 ||1,009|448||38|2|56,147|1,396|Asia
Estonia|1,535|+7|40 ||165|1,330|9|1,157|30|40,930|30,855|Europe
New Zealand|1,440|+9|12 ||974|454|3|299|2|86,305|17,897|Australia/Oceania
Oman|1,410|+144|7 ||238|1,165|3|276|1|||Asia
Azerbaijan|1,398||19 ||712|667|21|138|2|95,747|9,443|Asia
Armenia|1,339|+48|22 |+2|580|737|30|452|7|13,373|4,513|Asia
Slovenia|1,335|+5|77 |+3|193|1,065|26|642|37|41,802|20,107|Europe
Lithuania|1,326|+28|37 |+2|242|1,047|14|487|14|66,352|24,374|Europe
Bosnia and Herzegovina|1,285||48 ||347|890|4|392|15|17,818|5,431|Europe
North Macedonia|1,207||51 ||179|977|15|579|24|11,870|5,697|Europe
Slovakia|1,161||12 ||229|920|10|213|2|44,278|8,110|Europe
Ghana|1,042||9 ||99|934|4|34|0.3|68,591|2,207|Africa
Cuba|1,035||34 ||255|746|16|91|3|26,982|2,382|North America
Hong Kong|1,026||4 ||602|420|8|137|0.5|131,786|17,579|Asia
Cameroon|1,017||42 ||305|670|33|38|2|||Africa
Afghanistan|996||33 ||131|832|7|26|0.8|6,422|165|Asia
Bulgaria|915|+21|43 |+1|167|705|36|132|6|26,417|3,802|Europe
Tunisia|879||38 ||43|798|33|74|3|16,098|1,362|Africa
Ivory Coast|847||9 ||260|578||32|0.3|||Africa
Djibouti|846||2 ||102|742||856|2|8,144|8,243|Africa
Cyprus|767||12 ||81|674|15|635|10|34,087|28,233|Asia
Latvia|739|+12|5 ||88|646|5|392|3|36,668|19,440|Europe
Andorra|713||36 ||235|442|17|9,228|466|1,673|21,653|Europe
Diamond Princess|712||13 ||644|55|7|||||
Lebanon|673||21 ||102|550|27|99|3|20,929|3,066|Asia
Costa Rica|660||5 ||112|543|14|130|1.0|10,417|2,045|North America
Niger|648||20  ||117|511||27|0.8|4,715|195|Africa
Nigeria|627||21 ||170|436|2|3|0.1|7,153|35|Africa
Albania|584|+22|26 ||327|231|5|203|9|5,775|2,007|Europe
Guinea|579||5 ||87|487||44|0.4|||Africa
Burkina Faso|576||36 ||338|202||28|2|||Africa
Kyrgyzstan|568|+14|7 |+2|201|360|5|87|1|26,147|4,008|Asia
Bolivia|564|+44|33 |+1|31|500|3|48|3|3,569|306|South America
Uruguay|528|+11|10 ||298|220|13|152|3|13,207|3,802|South America
Channel Islands|488||21 ||73|394||2,807|121|3,320|19,095|Europe
Honduras|477|+5|46 ||25|406|10|48|5|2,535|256|North America
San Marino|461||39 ||60|362|4|13,586|1,149|1,711|50,426|Europe
Palestine|449|+10|3 ||71|375||88|0.6|17,329|3,397|Asia
Malta|427||3 ||118|306|2|967|7|23,253|52,663|Europe
Taiwan|422|+2|6 ||203|213||18|0.3|53,632|2,252|Asia
Jordan|417||7 ||276|134|5|41|0.7|29,000|2,842|Asia
Réunion|408|| ||237|171|4|456||||Africa
Georgia|399|+5|4 ||93|302|6|100|1|5,027|1,260|Asia
Senegal|367||4 |+1|220|143|1|22|0.2|||Africa
Mauritius|328||9 ||208|111|3|258|7|9,755|7,670|Africa
DRC|327||25 ||27|275||4|0.3|||Africa
Montenegro|311|+3|5 ||55|251|7|495|8|3,874|6,168|Europe
Isle of Man|298||6 ||193|99|10|3,505|71|2,465|28,989|Europe
Sri Lanka|295|+24|7 ||97|191|1|14|0.3|6,463|302|Asia
Guatemala|289|+32|7 ||21|261|3|16|0.4|7,200|402|North America
Mayotte|271||4 ||117|150|5|993|15|1,850|6,781|Africa
Kenya|270||14 ||67|189|2|5|0.3|13,239|246|Africa
Vietnam|268|| ||202|66|8|3||206,253|2,119|Asia
Venezuela|256||9 ||117|130|4|9|0.3|336,169|11,822|South America
Mali|224||14 ||42|168||11|0.7|||Africa
El Salvador|218|+17|7 ||46|165|2|34|1|12,210|1,882|North America
Paraguay|208|+2|8 ||46|154|1|29|1|4,950|694|South America
Jamaica|196|+23|5 ||27|164||66|2|1,809|611|North America
Faeroe Islands|185|| ||176|9||3,786||6,021|123,222|Europe
Tanzania|170||7 ||11|152|4|3|0.1|||Africa
Somalia|164||7 ||3|154|2|10|0.4|||Africa
Martinique|163||12 ||73|78|11|434|32|||North America
Guadeloupe|148||8 ||73|67|13|370|20|||North America
Rwanda|147|| ||76|71||11||6,959|537|Africa
Congo|143||6 ||11|126||26|1|||Africa
Brunei |138||1 ||116|21|2|315|2|11,633|26,591|Asia
Gibraltar|132|| ||120|12|1|3,918||1,912|56,751|Europe
Cambodia|122|| ||107|15|1|7||5,768|345|Asia
Madagascar|121|| ||39|82|1|4||2,357|85|Africa
Trinidad and Tobago|114||8 ||21|85||81|6|1,335|954|North America
Myanmar|111||5 ||7|99||2|0.09|4,786|88|Asia
Gabon|109||1 ||7|101||49|0.4|572|257|Africa
Ethiopia|108||3 ||16|89|1|0.9|0.03|7,557|66|Africa
Aruba|97||2 ||49|46|4|909|19|1,442|13,506|North America
French Guiana|97|+1| ||69|28|2|325||||South America
Monaco|94||3 ||22|69|3|2,395|76|||Europe
Sudan|92|+26|12 |+2|8|72||2|0.3|||Africa
Liberia|91||8 ||7|76||18|2|||Africa
Bermuda|86||5 ||35|46|10|1,381|80|638|10,244|North America
Togo|84||5 ||52|27||10|0.6|4,295|519|Africa
Liechtenstein|81||1 ||55|25||2,124|26|900|23,605|Europe
Equatorial Guinea|79|| ||4|75||56||854|609|Africa
Barbados|75||5 ||19|51|4|261|17|1,035|3,602|North America
Sint Maarten|67||10 ||12|45|6|1,563|233|163|3,802|North America
Guyana|65||7 ||9|49|4|83|9|322|409|South America
Zambia|61||3 ||33|25|1|3|0.2|2,586|141|Africa
Cabo Verde|61||1 ||1|59||110|2|||Africa
Cayman Islands|61||1 ||7|53|3|928|15|702|10,681|North America
Bahamas|60||9 ||11|40|1|153|23|||North America
French Polynesia|55|| ||2|53|1|196||1,302|4,635|Australia/Oceania
Uganda|55|| ||28|27||1||12,565|275|Africa
Maldives|52|| ||16|36||96||3,714|6,871|Asia
Libya|51||1 ||11|39||7|0.1|725|106|Africa
Guinea-Bissau|50|| ||3|47||25||1,500|762|Africa
Haiti|47||3 |||44||4|0.3|498|44|North America
Macao|45|| ||17|28|1|69||||Asia
Syria|39||3 ||5|31||2|0.2|||Asia
Eritrea|39|| ||3|36||11||||Africa
Mozambique|39|| ||8|31||1||1,037|33|Africa
Saint Martin|37||2 ||19|16|5|957|52|||North America
Benin|35||1 ||18|16||3|0.08|||Africa
Sierra Leone|35|| ||6|29||4||||Africa
Chad|33|| ||8|25||2||||Africa
Mongolia|33|+1| ||7|26||10||1,554|474|Asia
Nepal|31|| ||4|27||1||29,567|1,015|Asia
Zimbabwe|25||3 ||2|20||2|0.2|2,851|192|Africa
Angola|24||2 ||6|16||0.7|0.06|||Africa
Antigua and Barbuda|23||3 ||3|17|1|235|31|73|745|North America
Eswatini|22||1 ||8|13||19|0.9|714|615|Africa
Timor-Leste|22|+3| ||1|21||17||||Asia
Botswana|20||1 |||19||9|0.4|4,432|1,885|Africa
Laos|19|| ||2|17||3||1,349|185|Asia
Belize|18||2 ||2|14|1|45|5|651|1,637|North America
Fiji|18|+1| ||3|15||20||||Australia/Oceania
New Caledonia|18|| ||15|3|1|63||3,399|11,906|Australia/Oceania
Malawi|17||2 ||3|12|1|0.9|0.1|429|22|Africa
Dominica|16|| ||8|8||222||345|4,793|North America
Namibia|16|| ||6|10||6||524|206|Africa
Saint Kitts and Nevis|15|+1| |||15||282||247|4,643|North America
Saint Lucia|15|| ||11|4||82||344|1,873|North America
Curaçao|14||1 ||11|2||85|6|286|1,743|North America
Grenada|14|| ||6|8|4|124||92|818|North America
CAR|12|| ||4|8||2||||Africa
St. Vincent Grenadines|12|| ||1|11||108||87|784|North America
Turks and Caicos|11||1 |||10||284|26|83|2,144|North America
Falkland Islands|11|| ||3|8||3,161||319|91,667|South America
Greenland|11|| ||11|0||194||1,043|18,372|North America
Montserrat|11|| ||2|9|1|2,204||36|7,212|North America
Seychelles|11|| ||5|6||112||||Africa
Nicaragua|10||2 ||6|2||2|0.3|||North America
Gambia|10||1 ||2|7||4|0.4|316|131|Africa
Suriname|10||1 ||6|3||17|2|||South America
MS Zaandam|9||2 |||7||||||
Vatican City|8|| ||2|6||9,988||||Europe
Mauritania|7||1 ||6|0||2|0.2|913|196|Africa
Papua New Guinea|7|| |||7||0.8||167|19|Australia/Oceania
St. Barth|6|| ||5|1||607||||North America
Western Sahara|6|| |||6||10||||Africa
British Virgin Islands|5|+1|1 ||3|1||165|33|||North America
Burundi|5||1 ||4|0||0.4|0.08|80|7|Africa
Bhutan|5|| ||2|3||6||8,107|10,507|Asia
Caribbean Netherlands|5|| |||5||191||110|4,195|North America
Sao Tome and Principe|4|| |||4||18||19|87|Africa
South Sudan|4|| |||4||0.4||||Africa
Anguilla|3|| ||1|2||200||||North America
Saint Pierre Miquelon|1|| |||1||173||||North America
Yemen|1|| |||1||0.03||||Asia
China|82,747|+12|4,632 ||77,084|1,031|81|57|3|||Asia
Total:|820,749|+666|43,369|+32|86,885|690,495|14,651|||||North America
Total:|1,097,423|+8,167|102,454|+618|316,674|678,295|25,383|||||Europe
Total:|386,077|+2,920|14,840|+54|181,254|189,983|6,403|||||Asia
Total:|82,310|+58|3,850|+1|36,339|42,121|7,533|||||South America
Total:|8,157|+17|83||5,252|2,822|54|||||Australia/Oceania
Total:|22,992|+26|1,128|+3|5,847|16,017|174|||||Africa
Total:|721||15||644|62|7|||||
Total:|2,418,429|+11,854|165,739|+708|632,895|1,619,795|54,205|310.3|21.3|||All


Asia
|383,157|+12,373|14,786|+385|180,611|187,760|6,403|||||Asia

North America
|820,083|+28,674|43,337|+1,800|87,020|689,726|14,644|||||North America

Europe
|1,089,256|+29,218|101,836|+2,558|309,495|677,925|25,395|||||Europe

South America
|82,252|+4,279|3,849|+196|36,329|42,074|7,534|||||South America

Oceania
|8,140|+35|83|+2|5,159|2,898|68|||||Australia/Oceania

Africa
|22,966|+1,225|1,125|+43|5,840|16,001|174|||||Africa


|721||15||644|62|7|||||
World|2,406,575|+75,804|165,031|+4,984|625,098|1,616,446|54,225|309|21.2|||All
China|82,735|+16|4,632 ||77,062|1,041|85|57|3|||Asia
USA|764,636|+25,844|40,575 |+1,561|71,187|652,874|13,566|2,310|123|3,861,549|11,666|North America
Spain|198,674|+4,258|20,453 |+410|77,357|100,864|7,371|4,249|437|930,230|19,896|Europe
Italy|178,972|+3,047|23,660 |+433|47,055|108,257|2,635|2,960|391|1,356,541|22,436|Europe
France|152,894|+1,101|19,718 |+395|36,578|96,598|5,744|2,342|302|463,662|7,103|Europe
Germany|145,742|+2,018|4,642 |+104|88,000|53,100|2,889|1,739|55|1,728,357|20,629|Europe
UK|120,067|+5,850|16,060 |+596|N/A|103,663|1,559|1,769|237|482,063|7,101|Europe
Turkey|86,306|+3,977|2,017 |+127|11,976|72,313|1,922|1,023|24|634,277|7,521|Asia
Iran|82,211|+1,343|5,118 |+87|57,023|20,070|3,456|979|61|341,662|4,068|Asia
Russia|42,853|+6,060|361 |+48|3,291|39,201|8|294|2|1,940,000|13,294|Europe
Brazil|38,654|+1,932|2,462 |+101|22,130|14,062|6,634|182|12|62,985|296|South America
Belgium|38,496|+1,313|5,683 |+230|8,757|24,056|1,081|3,322|490|153,778|13,269|Europe
Canada|35,056|+1,673|1,587 |+117|11,843|21,626|557|929|42|536,062|14,203|North America
Netherlands|32,655|+1,066|3,684 |+83|250|28,721|1,176|1,906|215|154,911|9,041|Europe
Switzerland|27,740|+336|1,393 |+25|17,800|8,547|386|3,205|161|221,263|25,566|Europe
Portugal|20,206|+521|714 |+27|610|18,882|224|1,982|70|235,878|23,133|Europe
India|17,615|+1,250|559 |+38|2,854|14,202||13|0.4|401,586|291|Asia
Peru|15,628|+1,208|400 |+52|6,811|8,417|167|474|12|143,745|4,360|South America
Ireland|15,251|+493|610 |+39|77|14,564|294|3,089|124|90,646|18,358|Europe
Austria|14,749|+78|452 |+9|10,501|3,796|204|1,638|50|179,243|19,902|Europe
Sweden|14,385|+563|1,540 |+29|550|12,295|450|1,424|152|74,600|7,387|Europe
Israel|13,491|+226|172 |+8|3,754|9,565|146|1,559|20|187,250|21,634|Asia
Japan|10,797|+501|236 |+14|1,159|9,402|217|85|2|112,816|892|Asia
S. Korea|10,661|+8|234 |+2|8,042|2,385|55|208|5|559,109|10,905|Asia
Chile|10,088|+358|133 |+7|4,338|5,617|360|528|7|113,649|5,945|South America
Ecuador|9,468|+446|474 |+18|1,061|7,933|124|537|27|31,809|1,803|South America
Saudi Arabia|9,362|+1,088|97 |+5|1,398|7,867|97|269|3|180,000|5,170|Asia
Poland|9,287|+545|360 |+13|1,040|7,887|160|245|10|204,246|5,397|Europe
Romania|8,746|+328|451 |+30|1,892|6,403|256|455|23|93,611|4,866|Europe
Pakistan|8,348|+710|168 |+25|1,868|6,312|46|38|0.8|98,522|446|Asia
Mexico|7,497|+622|650 |+104|2,627|4,220|207|58|5|49,167|381|North America
Denmark|7,384|+142|355 |+9|4,141|2,888|84|1,275|61|94,277|16,277|Europe
Norway|7,078|+42|165 |+1|32|6,881|58|1,306|30|142,166|26,224|Europe
UAE|6,781|+479|41 |+4|1,286|5,454|1|686|4|767,000|77,550|Asia
Czechia|6,746|+140|186 |+5|1,298|5,262|84|630|17|168,096|15,697|Europe
Australia|6,612|+26|71 |+1|4,230|2,311|48|259|3|420,996|16,510|Australia/Oceania
Singapore|6,588|+596|11 ||768|5,809|22|1,126|2|94,796|16,203|Asia
Indonesia|6,575|+327|582 |+47|686|5,307||24|2|42,219|154|Asia
Serbia|6,318|+324|122 |+5|753|5,443|120|723|14|38,701|4,429|Europe
Philippines|6,259|+172|409 |+12|572|5,278|1|57|4|59,928|547|Asia
Ukraine|5,449|+343|141 |+8|347|4,961|45|125|3|57,111|1,306|Europe
Qatar|5,448|+440|8 ||518|4,922|37|1,891|3|62,538|21,707|Asia
Malaysia|5,389|+84|89 |+1|3,197|2,103|46|167|3|103,892|3,210|Asia
Belarus|4,779||47 |+2|494|4,238|65|506|5|98,231|10,396|Europe
Dominican Republic|4,680|+345|226 |+9|363|4,091|114|431|21|15,583|1,436|North America
Panama|4,273|+63|120 |+4|140|4,013|96|990|28|19,091|4,425|North America
Colombia|3,792|+171|179 |+13|711|2,902|98|75|4|62,746|1,233|South America
Finland|3,783|+102|94 |+4|1,700|1,989|68|683|17|57,300|10,342|Europe
Luxembourg|3,550|+13|73 |+1|627|2,850|31|5,671|117|33,666|53,781|Europe
South Africa|3,158|+124|54 |+2|903|2,201|36|53|0.9|114,711|1,934|Africa
Egypt|3,144|+112|239 |+15|732|2,173||31|2|55,000|537|Africa
Argentina|2,941|+102|134 |+2|709|2,098|123|65|3|32,712|724|South America
Morocco|2,855|+170|141 |+4|327|2,387|1|77|4|15,123|410|Africa
Thailand|2,765|+32|47 ||1,928|790|61|40|0.7|100,498|1,440|Asia
Algeria|2,629|+95|375 |+8|1,047|1,207|40|60|9|6,500|148|Africa
Moldova|2,472|+121|67 |+10|457|1,948|80|613|17|10,488|2,600|Europe
Bangladesh|2,456|+312|91 |+7|75|2,290|1|15|0.6|23,941|145|Asia
Greece|2,235||113 |+3|269|1,853|67|214|11|53,290|5,113|Europe
Hungary|1,916|+82|189 |+17|250|1,477|61|198|20|46,353|4,798|Europe
Kuwait|1,915|+164|7 |+1|305|1,603|38|448|2|||Asia
Bahrain|1,881|+108|7 ||759|1,115|2|1,105|4|85,126|50,028|Asia
Croatia|1,871|+39|47 |+8|709|1,115|23|456|11|24,186|5,891|Europe
Iceland|1,771|+11|9 ||1,291|471|3|5,190|26|41,091|120,416|Europe
Kazakhstan|1,676|+61|17 ||400|1,259|22|89|0.9|100,878|5,373|Asia
Uzbekistan|1,565|+75|5 ||225|1,335|8|47|0.1|136,000|4,063|Asia
Iraq|1,539|+26|82 ||1,009|448||38|2|56,147|1,396|Asia
Estonia|1,528|+16|40 |+2|164|1,324|10|1,152|30|40,333|30,405|Europe
New Zealand|1,431|+9|12 |+1|912|507|18|297|2|83,224|17,258|Australia/Oceania
Azerbaijan|1,398|+25|19 |+1|712|667|21|138|2|95,747|9,443|Asia
Slovenia|1,330|+13|74 |+4|192|1,064|26|640|36|41,265|19,849|Europe
Lithuania|1,298|+59|35 |+2|242|1,021|14|477|13|64,035|23,522|Europe
Armenia|1,291|+43|20 ||545|726|30|436|7|12,680|4,279|Asia
Bosnia and Herzegovina|1,285|+17|48 |+1|347|890|4|392|15|17,818|5,431|Europe
Oman|1,266|+86|7 |+1|233|1,026|3|248|1|||Asia
North Macedonia|1,207|+37|51 |+2|179|977|15|579|24|11,870|5,697|Europe
Slovakia|1,161|+72|12 |+1|229|920|10|213|2|44,278|8,110|Europe
Ghana|1,042|+208|9 ||99|934|4|34|0.3|68,591|2,207|Africa
Cuba|1,035|+49|34 |+2|255|746|16|91|3|26,982|2,382|North America
Hong Kong|1,026|+2|4 ||602|420|8|137|0.5|131,786|17,579|Asia
Cameroon|1,017||42 ||305|670|33|38|2|||Africa
Afghanistan|996|+63|33 |+3|131|832|7|26|0.8|6,422|165|Asia
Bulgaria|894|+16|42 |+1|161|691|36|129|6|26,417|3,802|Europe
Tunisia|879|+13|38 |+1|43|798|33|74|3|16,098|1,362|Africa
Ivory Coast|847|+46|9 |+1|260|578||32|0.3|||Africa
Djibouti|846|+114|2 ||102|742||856|2|8,144|8,243|Africa
Cyprus|767|+6|12 ||81|674|15|635|10|34,087|28,233|Asia
Latvia|727|+15|5 ||88|634|5|385|3|35,881|19,023|Europe
Andorra|713|+9|36 |+1|235|442|17|9,228|466|1,673|21,653|Europe
Diamond Princess|712||13 ||644|55|7|||||
Lebanon|673|+1|21 ||102|550|27|99|3|20,929|3,066|Asia
Costa Rica|660|+5|5 |+1|112|543|10|130|1.0|10,417|2,045|North America
Niger|648|+9|20 |+1|117|511||27|0.8|4,715|195|Africa
Nigeria|627|+85|21 |+2|170|436|2|3|0.1|7,153|35|Africa
Guinea|579|+61|5 |+2|87|487||44|0.4|||Africa
Burkina Faso|576|+11|36 ||338|202||28|2|||Africa
Albania|562|+14|26 ||314|222|5|195|9|5,542|1,926|Europe
Kyrgyzstan|554|+48|5 ||133|416|5|85|0.8|26,147|4,008|Asia
Bolivia|520|+27|32 |+1|31|457|3|45|3|3,569|306|South America
Uruguay|517||10 |+1|298|209|14|149|3|13,207|3,802|South America

In [63]:
import pandas as pd
df=pd.read_csv("C:\\ITM SPRING 2020\\JOB HUNT\\Python\\country_note.csv",sep="|")

In [65]:
df.to_csv("C:\\ITM SPRING 2020\\JOB HUNT\\Python\\country_note_modified.csv")